
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>

    <title>Add Individual User - Education Host Ltd</title>
   
    <%- include('header'); -%>

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-content-menu material-vertical-layout material-layout 2-columns   fixed-navbar"
    data-open="click" data-menu="vertical-content-menu" data-col="2-columns">

    <!-- BEGIN: Header-->
    <nav
        class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light navbar-hide-on-scroll navbar-border navbar-shadow navbar-brand-center">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a
                            class="nav-link nav-menu-main menu-toggle hidden-xs" href="#" aria-label="Menu icon"><i
                                class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item mobile-menu mr-auto" style="padding-top:20px;">
                        <h1 class="brand-text" style="width: 40rem;">Management Dashboard </h1>
                    </li>
                    <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
                            data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
                </ul>

            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle" href="#"><i
                                    class="ft-menu"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav float-right">

                        <li>
                            <a class="dropdown-item" href="/api/user/logout"><i
                                    class="material-icons">power_settings_new</i>
                                Logout</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->

    <!-- BEGIN: Content-->
    <div class="app-content content" role="main">
        <div class="content-header row">
        </div>
        <div class="content-wrapper" style="min-height: 1200px;">

            <!-- BEGIN: Main Menu-->

            <%- include('menu'); -%>

            <!-- END: Main Menu-->
            <div class="content-body ">

                <!-- Student account data start -->
                <section id="basic">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title font-weight-bold">Add Individual User</h3>
                                    <a class="heading-elements-toggle">
                                        <i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="container p-2">
                                        <form id="userForm">
                                          <div class="form-group">
                                            <label >First Name<span class="error">*</span></label>
                                            <input type="text" class="form-control" name="first_name" id="firstname"  placeholder="First Name" required>
                                          </div>
                                          <div class="form-group">
                                            <label>Last Name<span class="error">*</span></label>
                                            <input type="text" class="form-control" name="last_name" id="lastname"  placeholder="Last Name" required>
                                          </div>
                                          <div class="form-group">
                                            <label >Email<span class="error">*</span></label>
                                            <input type="email" class="form-control" name="email" id="email"  placeholder="Email" required>
                                          </div>
                                          <div class="form-group">
                                            <label>Student Number</label>
                                            <input type="text" class="form-control" name="student_id" id="studentnumber"  placeholder="Student Number">
                                          </div>
                                          <div class="form-group">
                                            <label for="">Teaching Location<span class="error">*</span></label>
                                            <select class="form-control" name="teaching_location" id="teaching_location" required>
                                                <option value="">select location</option>
                                                <% teachingLocation.forEach(item=> { %>
                                                    <option value="<%= item.teaching_location_id %>"><%= item.name %></option>
                                                <% }) %>
                                            </select>
                                          </div>
                                          <div class="form-group">
                                            <label for="">Teaching Block Period<span class="error">*</span></label>
                                            <select class="form-control" name="teaching_block_period" id="teaching_block_period" required>
                                               <% teachingBlockPeriods.forEach(item=> { %>
                                                    <option value="<%= item.teaching_block_period_id %>"><%= item.teaching_block_period_description %></option>
                                                <% }) %>
                                            </select>
                                          </div>
                                          <div class="form-group">
                                            <label>Modules<span class="error">*</span></label>
                                            <select multiple class="form-control" name="modules" id="modules" required>
                                              
                                            </select>
                                          </div>
                                          <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="is_lecturer" name="is_lecturer" >
                                            <label class="form-check-label">is lecturer ?</label>
                                          </div>
                                          <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="is_admin" name="is_admin" >
                                            <label class="form-check-label" >is admin ?</label>
                                          </div>
                                          <button type="submit" class="btn btn-secondary" id="createUser">Create User</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Student account data end -->
            </div>
        </div>
    </div>
    <!-- END: Content-->
    <!-- Modal -->
<div id="Modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Modal Header</h4>
  </div>
  <div class="modal-body">
    <p>Some text in the modal.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>

  </div>
</div>

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    
    <%- include('footer'); -%>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script> -->
    <script>
        //$( "#userForm" ).validate();
    	$( document ).ready(function() {
		    $('#createUser').off('click').on('click', function(e){
		    	e.preventDefault();
                var is_valid = $("#userForm").valid();
                if(is_valid){
                    var userForm = $('#userForm').serialize();

                    axios.post('/api/staff/createIndividualUser', userForm,{}).then(function (response) {
                      
                      if(response.data.status == "success"){
                         $('#userForm')[0].reset();
                         swal("Success", response.data.message);
                      }else{
                         swal(response.data.message);
                      }
                    })
                    .catch(function (error ) {
                        console.log(error)
                        console.log('FAILURE!!');
                    });
                }
                
		    });
		});
    $("#teaching_location").change (function () {  
        var selected = $(this).children("option:selected").val(); 
        
        if(selected !=''){
            var settings= {
                type: "GET",
                dataType: "json",
                url: "/api/user/getModuleWithLocation/"+selected,
                success: function(response) {

                    if(response.length){
                        var optionStr = ''
                        response.forEach(function(item){
                            optionStr+= "<option value='"+item.module_code+"'>"+item.module_code +" - "+item.module_name+"</option>";
                           
                        })
                        $('#modules').html(optionStr);
                    }else{
                        $('#modules').html('');
                    }
                },
                error: function (err, type, httpStatus) {
                    alert('error has occured');
                }
            };

            $.ajax(settings);
        }
    });
    </script>
</body>
<!-- END: Body-->

</html>