
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    
    <title>Manage Block - Education Host Ltd</title>

    <%- include('header'); -%>

    <script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
    <link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
    <script src="https://jsuites.net/v4/jsuites.js"></script>
    <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
    <style type="text/css">
    .modal-btns .modal-footer button {
        min-height: 40px;
        color: #fff !important;
        display: flex;
        align-items: center;
    }
    .modal-btns .modal-footer button i {
        margin-right: 4px;
    }
    .card-text {
        overflow-x: auto;
    }
    .jexcel.jexcel_overflow {
        position: relative;
    }
.jexcel.jexcel_overflow:before {
/*    position: absolute;
    top: 0;*/
/*    left: 37%;*/
    /*left: 635px;
    max-width: 2px;
    background: red;
    height: 100%;
    width: 100%;
    content: "";
    z-index: 3;
    margin: auto;
    box-shadow: 3px 3px 3px #00000075;*/
}

table.jexcel thead tr td:nth-of-type(4), table.jexcel tbody tr td:nth-of-type(4) {
    position: relative;
    overflow: visible;
}
table.jexcel thead tr td:nth-of-type(4):before, table.jexcel tbody tr td:nth-of-type(4):before {
    position: absolute;
    content: "";
    background: red;
    top: -1px;
    bottom: -1px;
    width: 2px;
    left: 30px;
    box-shadow: 3px 3px 3px #00000075;
    z-index: 1;
}
table.jexcel.hide-red-line thead tr td:nth-of-type(4):before, table.jexcel.hide-red-line tbody tr td:nth-of-type(4):before {
    display: none;
}

tbody.draggable .alert {
    width: fit-content;
}
.jexcel_content table.jexcel {
    table-layout: auto;
}
.card.accordion.collapse-icon.accordion-icon-rotate{
/*    padding-bottom: 15px;*/
}
.card.accordion.collapse-icon .card-header.card-title {
    margin-bottom: 15px;
}
.card.accordion.collapse-icon .card-header.card_title{
    width: 100%;
    margin-bottom: 15px;
}
.card.accordion.collapse-icon .card-header {
    width: calc(100% - 28px);
    margin: auto;
}

tbody.draggable .alert {
    width: 100%;
    max-width: 200px;
    min-width: 200px;
    margin-bottom: 1px;
    word-break: break-word !important;
    white-space: normal;
    border-radius: 0px;
    font-size: 14px;
    line-height: 17px;
    position: relative;
}
tbody.draggable .alert .deleteDynamicModule {
    color: #fff;
    font-size: 13px;
    position: absolute;
    top: 4px;
    right: 2px;
    font-weight: bold;
}
tbody.draggable span.material-symbols-outlined {
    color: #607d8b;
}
.manage-text {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 600;
}
.pinned_color{
    background-color: #ABC4FF;
    color: '#000000'
}
.core_color{
    background-color: #718355;
    color: #ffffff
}
.elective_color{
    background-color: #ffc599;
    color: #000000
}
.jexcel > tbody > tr > td.readonly {
    color: unset;
}
</style>

<!-- BEGIN: Body--> 

<body class="vertical-layout vertical-content-menu material-vertical-layout material-layout 2-columns   fixed-navbar"
    data-open="click" data-menu="vertical-content-menu" data-col="2-columns">

    <!-- BEGIN: Header-->
    <nav
        class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light navbar-hide-on-scroll navbar-border navbar-shadow navbar-brand-center">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a
                            class="nav-link nav-menu-main menu-toggle hidden-xs" href="#" aria-label="Menu icon"><i
                                class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item mobile-menu mr-auto" style="padding-top:20px;">
                        <h1 class="brand-text" style="width: 40rem;">Management Dashboard </h1>
                    </li>
                    <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
                            data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
                </ul>

            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle" href="#"><i
                                    class="ft-menu"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav float-right">

                        <li>
                            <a class="dropdown-item" href="/api/user/logout"><i
                                    class="material-icons">power_settings_new</i>
                                Logout</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->

    <!-- BEGIN: Content-->
    <div class="app-content content" role="main">
        <div class="content-header row">
        </div>
        <div class="content-wrapper" style="min-height: 1500px;">

            <!-- BEGIN: Main Menu-->

            <%- include('menu'); -%>

            <!-- END: Main Menu-->
            <div class="content-body ">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title font-weight-bold">Teaching Block Agent</h3>
                                    <a class="heading-elements-toggle">
                                        <i class="la la-ellipsis-v font-medium-3"></i></a>                                    
                                </div>                                
                                <div class="card-content collapse show" >
                                    <div class="card-body card-dashboard ">

                                        <!-- Module agent ok -->
                                       
                                        <% if(teaching_block_agent != null && teaching_block_agent <= 5){ %>
                                           <div class="alert alert-success mb-2" role="alert">
                                            <strong>Teaching Block Agent</strong> is ONLINE.
                                        </div>
                                         <% } 
                                            else if(!teaching_block_agent) { %>  
                                          
                                        <div class="alert alert-warning mb-2" role="alert">
                                            <strong>Teaching Block Agent</strong> not installed.

                                        </div>
                                        
                                        <% } else if(teaching_block_agent > 5){ %>
                                        <div class="alert alert-danger mb-2" role="alert">
                                            <strong>Teaching Block Agent</strong> is OFFLINE or not responding.
                                        </div>
                                        <% }  %>  
                                        
                                        <!-- Module agent warning -->
                                        

                                    </div>
                                </div>     
                            </div>

                           <div id="accordionWrap1" >

                                <div class="card accordion collapse-icon accordion-icon-rotate">
                                     <div class="card-header card_title">
                                    <h3 class="card-title font-weight-bold">Manage Blocks</h3>
                                    <a class="heading-elements-toggle">
                                        <i class="la la-ellipsis-v font-medium-3"></i></a>                                    
                                </div> 
                                <p class="manage-text">Manage the assignment of modules within blocks for each course below.</p>
                                    <% courseList.map(function(course){ %>
                                    <a id="heading11" class="card-header info card-title" data-toggle="collapse" href="#accordion<%= course.id %>" >
                                        <div class="card-title lead">Course: <%= course.course_name %></div>

                                    </a>
                                    <div id="accordion<%= course.id %>" role="tabpanel" data-parent="#accordionWrap1" aria-labelledby="heading11" class="collapse get-accordian ">
                                        <div class="card-content">
                                            <section id="basic">
                                                <div class="row">
                                                    <div class="col-12">                            

                                                        <div class="card ">
                                                            
                                                            <div class="card-content collapse show">
                                                                <div class="card-body">
                                                                    <div class="card-text">
                                                                        <!-- <h4 class="form-section" style="text-align: center;"><i class="ft-folder"></i> Course: <span class="course_name" id="<%= course.id %>"><%= course.course_name %></span></h4> -->
                                                                        <div class="spreadsheetCls" id="spreadsheet-<%= course.id %>" course_id="<%= course.id %>"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>                           
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    
                                    
                                        </div>
                                        <% }) %> 
                                    </div>
                                </div>

               
                


                <!-- EXAMPLE ACCORDIAN 

                            <div class="mb-2 mt-2">
                                <h5 class="mb-0 text-uppercase">Accordion with Icon</h5>
                                <p>Use class <code>.collapse-icon.</code> to set icon accordion toggle. Use <code>.accordion-icon-rotate</code>
                                    class for rotation animation for icons.</p>
                            </div>
                            <div id="accordionWrap1" role="tablist" aria-multiselectable="true">
                                <div class="card accordion collapse-icon accordion-icon-rotate">
                                    <a id="heading11" class="card-header info" data-toggle="collapse" href="#accordion11" aria-expanded="true" aria-controls="accordion11">
                                        <div class="card-title lead">Accordion Group Item #1</div>
                                    </a>
                                    <div id="accordion11" role="tabpanel" data-parent="#accordionWrap1" aria-labelledby="heading11" class="collapse show">
                                        <div class="card-content">
                                            <div class="card-body">
                                                Caramels dessert chocolate cake pastry jujubes bonbon. Jelly wafer jelly beans. Caramels chocolate cake
                                                liquorice cake wafer jelly beans croissant apple pie. Oat cake brownie pudding jelly beans. Wafer liquorice
                                                chocolate bar chocolate bar liquorice. Tootsie roll gingerbread gingerbread chocolate bar tart chupa chups
                                                sugar plum toffee. Carrot cake macaroon sweet danish. Cupcake soufflé toffee marzipan candy canes pie jelly-o.
                                                Cotton candy bonbon powder topping carrot cake cookie caramels lemon drops liquorice. Dessert cookie ice cream
                                                toffee apple pie.
                                            </div>
                                        </div>
                                    </div>
                                    <a id="heading12" class="card-header info" data-toggle="collapse" href="#accordion12" aria-expanded="false" aria-controls="accordion12">
                                        <div class="card-title lead collapsed">Accordion Group Item #2</div>
                                    </a>
                                    <div id="accordion12" role="tabpanel" data-parent="#accordionWrap1" aria-labelledby="heading12" class="collapse" aria-expanded="false">
                                        <div class="card-content">
                                            <div class="card-body">
                                                Sugar plum bear claw oat cake chocolate jelly tiramisu dessert pie. Tiramisu macaroon muffin jelly marshmallow
                                                cake. Pastry oat cake chupa chups. Caramels marshmallow carrot cake topping donut sesame snaps toffee tootsie
                                                roll. Lollipop sweet jelly beans oat cake biscuit pastry chocolate cake. Cupcake chocolate biscuit lemon drops
                                                cotton candy marshmallow oat cake donut. Croissant chocolate cake oat cake brownie topping carrot cake jelly
                                                beans. Dessert gingerbread marshmallow pudding donut lemon drops cake. Cake topping gummi bears cake.
                                            </div>
                                        </div>
                                    </div>
                                    <a id="heading13" class="card-header info" data-toggle="collapse" href="#accordion13" aria-expanded="false" aria-controls="accordion13">
                                        <div class="card-title lead collapsed">Accordion Group Item #3</div>
                                    </a>
                                    <div id="accordion13" role="tabpanel" data-parent="#accordionWrap1" aria-labelledby="heading13" class="collapse" aria-expanded="false">
                                        <div class="card-content">
                                            <div class="card-body">
                                                Candy cupcake sugar plum oat cake wafer marzipan jujubes lollipop macaroon. Cake dragée jujubes donut chocolate
                                                bar chocolate cake cupcake chocolate topping. Dessert jelly beans toffee muffin tiramisu sesame snaps brownie.
                                                Cake halvah pastry soufflé oat cake candy candy canes. Lemon drops gummies gingerbread toffee. Tart jelly candy
                                                pastry. Pastry cake jelly beans carrot cake marzipan lollipop muffin. Soufflé jujubes cupcake. Powder danish
                                                candy carrot cake pastry. Tart marshmallow caramels cake macaroon gummies lollipop.
                                            </div>
                                        </div>
                                    </div>
                                    <a id="heading14" class="card-header info" data-toggle="collapse" href="#accordion14" aria-expanded="false" aria-controls="accordion14">
                                        <div class="card-title lead collapsed">Accordion Group Item #4</div>
                                    </a>
                                    <div id="accordion14" role="tabpanel" data-parent="#accordionWrap1" aria-labelledby="heading14" class="collapse" aria-expanded="false">
                                        <div class="card-content">
                                            <div class="card-body">
                                                Sesame snaps chocolate lollipop sesame snaps apple pie chocolate cake sweet roll. Dragée candy canes carrot
                                                cake chupa chups danish cake sugar plum candy. Cake powder biscuit bear claw. Sesame snaps cotton candy
                                                cheesecake topping ice cream cookie tiramisu. Liquorice bonbon cookie pie halvah. Cookie toffee ice cream
                                                cotton candy lollipop fruitcake. Tart cheesecake tiramisu danish marzipan pie pastry chocolate cake. Pastry
                                                bonbon lollipop oat cake pastry halvah dessert jelly. Toffee caramels croissant apple pie chupa chups toffee
                                                muffin chupa chups apple pie.
                                            </div>
                                        </div>
                                    </div>
                                </div>

-->

                <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title font-weight-bold">Add/Edit Blocks</h3>
                                    <a class="heading-elements-toggle">
                                        <i class="la la-ellipsis-v font-medium-3"></i></a>                                    
                                </div>                                
                                <div class="card-content collapse show" >
                                    <div class="card-body card-dashboard ">

                                        <table class="table table-striped">
                                            <thead>
                                              <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Block Name</th>
                                                <th scope="col">Start date and time</th>
                                                <th scope="col">End date and time </th>
                                                <th scope="col">Course id </th>
                                                <th scope="col">Course name </th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Remove</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <% getTeachingBlocks.forEach((item,index)=>{ %>
                                              <tr>
                                                <th scope="row"><%= index = index+1 %></th>
                                                <td><%= item.name %></td>
                                                <td><%= DateTime.fromISO(item.tb_start_date_time.toISOString().replace('Z','')).toFormat('yyyy-MM-dd HH:mm:ss') %></td>
                                                <td><%= DateTime.fromISO(item.tb_end_date_time.toISOString().replace('Z','')).toFormat('yyyy-MM-dd HH:mm:ss') %></td>
                                                <td><%= item.course_id %></td>
                                                <td><%= item.course_name %></td>
                                                <td><a href="#" class="edit_block" data_block_id="<%= item.teaching_block_id %>" data-toggle="modal" data-target="#editBlockCenter"><span class="material-symbols-outlined">edit</span></a></td>
                                                <td><a href="#" class="remove_block" data_block_id="<%= item.teaching_block_id %>" ><span class="material-symbols-outlined">delete</span></a></td>
                                              </tr>                              
                                              <% }) %> 
                                            </tbody>
                                          </table>
                                          
                                          <div class="col-md-12 mb-4" style="text-align: right;">

                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newBlock">Add Block</button>
                                          </div>
                                    </div>
                                </div>     
                            </div>
                <!-- Student account data end -->
            </div>
        </div>
    </div>
    <!-- END: Content-->
    
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->

    <%- include('footer'); -%>
    <!-- add Intake start -->
    <div class="modal fade modal-btns" id="newBlock" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Add Block</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="p-1" id="addBlockForm">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Block Name<span class="red">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="block_name" name="block_name" placeholder="Block Name" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Block Start Date<span class="red">*</span></label>
                    <div class="col-sm-9">
                        <input class="form-control-file" type="datetime-local" id="tb_start_date_time" name="tb_start_date_time" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Block End Date<span class="red">*</span></label>
                    <div class="col-sm-9">
                        <input class="form-control-file" type="datetime-local" id="tb_end_date_time" name="tb_end_date_time" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Course<span class="red">*</span></label>
                    <div class="col-sm-9">
                    <select class="form-control" name="course" id="course" required>
                            <option value="">Select Course</option>
                            <% courseList.map(function (course) { %>
                                <option value="<%= course.id %>"><%= course.course_name %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal"><i class="ft-x"></i> Close</button>
            <button type="button" class="btn btn-primary" id="saveBlock"> <i class="la la-check-square-o"></i> Save</button>
          </div>       
        </div>
      </div>
    </div>
    <!-- add Intake end -->
    <!-- edit Intake start -->
    <div class="modal fade modal-btns" id="editBlockCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalCenterTitle">Edit Block</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="p-1" id="editBlockForm">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Block Name<span class="red">*</span></label>
                    <div class="col-sm-9">
                        <input type="hidden" name="teaching_block_id" id="teaching_block_id" value="" >
                        <input type="text" class="form-control" id="edit_block_name" name="edit_block_name" placeholder="Block Name" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Block Start Date<span class="red">*</span></label>
                    <div class="col-sm-9">
                        <input class="form-control-file" type="datetime-local" id="edit_tb_start_date_time" name="edit_tb_start_date_time" required value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Block End Date<span class="red">*</span></label>
                    <div class="col-sm-9">
                        <input class="form-control-file" type="datetime-local" id="edit_tb_end_date_time" name="edit_tb_end_date_time" required value="">
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal"><i class="ft-x"></i>Close</button>
            <button type="button" class="btn btn-primary" id="editSaveBlock"><i class="la la-check-square-o"></i> Save changes</button>
          </div>        
        </div>
      </div>
    </div>
    <!-- Add intake and block to module-->
    <div class="modal fade modal-btns" id="addModuleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalCenterTitle">Add Module</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="p-1" id="linkModuleForm">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Module list<span class="red">*</span></label>
                    <input type="hidden" id="getIntakeID" value="">
                     <input type="hidden" id="getBlockId" value="">
                     <input type="hidden" id="accrd_id" value="">
                   
                    <div class="col-sm-9">
                    <select class="form-control" name="module" id="module_id" required>
                            <option value="">Select Module</option>
                            
                        </select>
                    </div>
                </div>
                
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal"><i class="ft-x"></i>Close</button>
            <button type="button" class="btn btn-primary" id="saveLinkModule"><i class="la la-check-square-o"></i>  Add Module</button>
          </div>        
        </div>
      </div>
    </div>
    <!-- edit Intake end -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script> -->
<script>

    
    
    
    $(document).ready(function(){
        

        $('.spreadsheetCls').each(function(){
            var tableID= $(this).attr('id')
            //var optionData = []
            var course_id=$(this).attr('course_id');
            var optionData = []
            axios.get('/api/staff/getCourseListdata/'+course_id,{ 
                        
            }).then(function (response) {
                data = JSON.parse(response.data.data)
                jspreadsheet(document.getElementById(tableID), data);
                // jspreadsheet(document.getElementById(tableID), {
                //     data:data,
                //     oneditionstart:true
                // })

            }).catch(function (error ) {
                console.log(error)
            });
            
            console.log($(this).find('table').html());
        })

        
        $('#accordionWrap1').bind('contextmenu', function(e) {
            return false;
        }); 

    })

    $('.edit_block').on('click',function(e){
        e.preventDefault();
        var data_block_id = $(this).attr('data_block_id');
        $('#teaching_block_id').val(data_block_id);
        
        axios.get('/api/staff/getblockdata/'+data_block_id).then(function (response) { 
            
            $('#edit_block_name').val(response.data.data.name);
            $('#edit_tb_start_date_time').val(response.data.data.tb_start_date_time);
            $('#edit_tb_end_date_time').val(response.data.data.tb_end_date_time);
        }).catch(function (error ) {
            console.log(error)
            console.log('FAILURE!!');
        });
    });

    $('.remove_block').on('click',function(e){
        e.preventDefault();
        var data_block_id = $(this).attr('data_block_id');
        swal({
              title: "Are you sure?",
              text: "Once deleted, you will not be able to recover this data!",
              icon: "warning",
              buttons: true,
              dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                axios.get('/api/staff/deleteBlock/'+data_block_id,{ 
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(function (response) {
                    if(response.data.status == "success"){
                        swal("Your data deleted!", {
                          icon: "success",
                        });
                        setTimeout(function(){
                            location.reload();
                        }, 3000);
                    }else{
                        swal("Something went wrong")
                    }
                }).catch(function (error ) {
                    console.log(error)
                    console.log('FAILURE!!');
                });
            }
        });
    });

    $('#saveBlock').on('click',function(e){
        e.preventDefault();
        var isValid = $('#addBlockForm').valid();

        if(isValid){
            var formData = new FormData();
            formData.append("name", $('#block_name').val());
            formData.append("tb_start_date_time", $('#tb_start_date_time').val());
            formData.append("tb_end_date_time", $('#tb_end_date_time').val());
            formData.append("course_id", $('#course').val());
            axios.post('/api/staff/createBlock', formData,{ 
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(function (response) {
                console.log(response)
                if(response.data.status == "success"){
                    $('#addBlockForm')[0].reset();
                    swal("Success", response.data.message);
                    //$('#notingyet').hide();
                    setTimeout(function(){
                        location.reload();
                    }, 3000);
                }else{
                     // swal(response.data.message);
                    swal("Something went wrong")
                }
            }).catch(function (error ) {
                console.log(error)
                console.log('FAILURE!!');
            });
        }
    });
    $('#editSaveBlock').on('click',function(e){
        e.preventDefault();
        var isValid = $('#editBlockForm').valid();
      
        if(isValid){
            var formData = new FormData();
            formData.append("id", $('#teaching_block_id').val());
            formData.append("name", $('#edit_block_name').val());
            formData.append("tb_start_date_time", $('#edit_tb_start_date_time').val());
            formData.append("tb_end_date_time", $('#edit_tb_end_date_time').val());
            axios.post('/api/staff/editBlock', formData,{ 
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(function (response) {
                console.log(response)
                if(response.data.status == "success"){
                    $('#addBlockForm')[0].reset();
                    swal("Success", response.data.message);
                    //$('#notingyet').hide();
                    setTimeout(function(){
                        location.reload();
                    }, 3000);
                }else{
                     // swal(response.data.message);
                    swal("Something went wrong")
                }
            }).catch(function (error ) {
                console.log(error)
                console.log('FAILURE!!');
            });
        }
    });

    $(document).on('click', '.addDynamicModule', function() {
        var accordian_id=$(this).closest('.get-accordian').attr('id');

        $('#getIntakeID').val($(this).attr('intake-id'));
        $('#getBlockId').val($(this).attr('block-id'));
        $('#accrd_id').val(accordian_id);
        var courseId = $($(this).closest('.spreadsheetCls')).attr('course_id');
        $("#module_id").empty();
        $('#module_id').append('<option value="">Select Module</option>');
        axios.get('/api/staff/getCourseModule/'+courseId).then(function (response) {
            moduleList = ''
            response.data.data.map(function(item){
                var opt_value=item.module_code+ ' - '+item.module_name+' ('+item.module_type+')';
                moduleList +="<option value='"+item.module_id+"'>"+opt_value+"</option>" 
            })
            $('#module_id').append(moduleList);

        }).catch(function (error ) {
            console.log(error)
        });
    });
    
        
     $(document).on('click', '#saveLinkModule',function(e){
        if($('#linkModuleForm').valid()){
            var accordian_id=$('#accrd_id').val();
            var intakeId=$('#getIntakeID').val();
            var blockId=$('#getBlockId').val();
            var moduleId=$("#module_id").val();

            let obj = {
                teaching_block_period_id: intakeId,
                teaching_block_id: blockId,
                module_id:moduleId 
            }
                
            axios.post('/api/staff/linkModule', obj).then(function (response) {
                
                if(response.data.status == "success"){
                    $('#linkModuleForm')[0].reset();
                    swal("Success", response.data.message);
                    
                    setTimeout(function(){
                        //location.reload();
                        var url=window.location.origin+'/staff/blockmanageblocks'+'?accordion='+accordian_id;
                        window.location.href = url;
                    }, 3000);
                }else{
                    
                    swal("Something went wrong")
                }
            }).catch(function (error ) {
                console.log(error)
                console.log('FAILURE!!');
            });
        }
    })
     $(document).on('click', '.deleteDynamicModule', function() {
        var accordian_id=$(this).closest('.get-accordian').attr('id');
        
        var module_id=$(this).attr('module-id');
        var intake_id=$(this).attr('intake-id');
        var block_id=$(this).attr('block_id');
        
        let obj={
            teaching_block_period_id: intake_id,
            teaching_block_id: block_id,
            module_id:module_id 
        }
        swal({
              title: "Are you sure?",
              text: "Once deleted, you will not be able to recover this data!",
              icon: "warning",
              buttons: true,
              dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
            
             axios.post('/api/staff/unlinkModule', obj).then(function (response) {
                
                if(response.data.status == "success"){
                    //$('#linkModuleForm')[0].reset();
                    swal("Success", response.data.message);
                    
                    setTimeout(function(){
                        //location.reload();
                        var url=window.location.origin+'/staff/blockmanageblocks'+'?accordion='+accordian_id;
                        window.location.href = url;

                        
                    }, 3000);
                }else{
                    
                    swal("Something went wrong")
                }
            }).catch(function (error ) {
                console.log(error)
                console.log('FAILURE!!');
            });
        }
        })
       
        

    })
     $(document).ready(function(){
        var urlParams = new URLSearchParams(window.location.search);
        if(urlParams.has('accordion')){
             var accordin_id=urlParams.get('accordion');
            $('#'+accordin_id).addClass('show');
            // $('html, body').animate({
            //                 scrollTop: $("#"+accordin_id).offset().top
            //             }, 2000);
        }
       

     })
     

        
    
    </script>
</body>
<!-- END: Body-->

</html>