
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    
    <title>Manage Block - Education Host Ltd</title>

    <%- include('header'); -%>

    <script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js"></script>
    <link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
    <script src="https://jsuites.net/v4/jsuites.js"></script>
    <link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
    <style type="text/css">
    .modal-btns .modal-footer button {
        min-height: 40px;
        color: #fff !important;
        display: flex;
        align-items: center;
    }
    .modal-btns .modal-footer button i {
        margin-right: 4px;
    }
    </style>
<!-- BEGIN: Body-->

<body class="vertical-layout vertical-content-menu material-vertical-layout material-layout 2-columns   fixed-navbar"
    data-open="click" data-menu="vertical-content-menu" data-col="2-columns">

    <!-- BEGIN: Header-->
    <nav
        class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light navbar-hide-on-scroll navbar-border navbar-shadow navbar-brand-center">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a
                            class="nav-link nav-menu-main menu-toggle hidden-xs" href="#" aria-label="Menu icon"><i
                                class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item mobile-menu mr-auto" style="padding-top:20px;">
                        <h1 class="brand-text" style="width: 40rem;">Management Dashboard </h1>
                    </li>
                    <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
                            data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
                </ul>

            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle" href="#"><i
                                    class="ft-menu"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav float-right">

                        <li>
                            <a class="dropdown-item" href="/api/user/logout"><i
                                    class="material-icons">power_settings_new</i>
                                Logout</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->

    <!-- BEGIN: Content-->
    <div class="app-content content" role="main">
        <div class="content-header row">
        </div>
        <div class="content-wrapper" style="min-height: 1500px;">

            <!-- BEGIN: Main Menu-->

            <%- include('menu'); -%>

            <!-- END: Main Menu-->
            <div class="content-body ">

                <!-- Student account data start -->
                <section id="basic">
                    <div class="row">
                        <div class="col-12">                            

                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Manage Block</h4>
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>                                    
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        <div class="card-text">
                                            <h4 class="form-section" style="text-align: center;"><i class="ft-folder"></i> Course: Computing</h4>
                                            <div id="spreadsheet"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ Basic Horizontal Timeline -->
                        </div>
                    </div>
                </section>
                <!-- Student account data end -->

                  <!-- Student account data start -->
                  <section id="basic">
                    <div class="row">
                        <div class="col-12">                            

                            <div class="card">
                                <div class="card-header">
                                    
                                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>                                    
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        <div class="card-text">
                                            <h4 class="form-section" style="text-align: center;"><i class="ft-folder"></i> Course: Computing Course 2</h4>
                                            <div id="spreadsheet1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/ Basic Horizontal Timeline -->
                        </div>
                    </div>
                </section>
                <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title font-weight-bold">Add/Edit Blocks</h3>
                                    <a class="heading-elements-toggle">
                                        <i class="la la-ellipsis-v font-medium-3"></i></a>                                    
                                </div>                                
                                <div class="card-content collapse show" >
                                    <div class="card-body card-dashboard ">

                                        <table class="table table-striped">
                                            <thead>
                                              <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Block Name</th>
                                                <th scope="col">Start date and time</th>
                                                <th scope="col">End date and time </th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Remove</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <% getTeachingBlocks.forEach((item,index)=>{ %>
                                              <tr>
                                                <th scope="row"><%= index = index+1 %></th>
                                                <td><%= item.name %></td>
                                                <td><%= DateTime.fromISO(item.tb_start_date_time.toISOString().replace('Z','')).toFormat('yyyy-MM-dd HH:mm:ss') %></td>
                                                <td><%= DateTime.fromISO(item.tb_end_date_time.toISOString().replace('Z','')).toFormat('yyyy-MM-dd HH:mm:ss') %></td>
                                                <td><a href="#" class="edit_block" data_block_id="<%= item.teaching_block_id %>" data-toggle="modal" data-target="#editBlockCenter"><span class="material-symbols-outlined">edit</span></a></td>
                                                <td><a href="#" class="remove_block" data_block_id="<%= item.teaching_block_id %>" ><span class="material-symbols-outlined">delete</span></a></td>
                                              </tr>                              
                                              <% }) %> 
                                            </tbody>
                                          </table>
                                          
                                          <div class="col-md-12 mb-4" style="text-align: right;">

                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newBlock">Add Block</button>
                                          </div>
                                    </div>
                                </div>     
                            </div>
                <!-- Student account data end -->
            </div>
        </div>
    </div>
    <!-- END: Content-->
    
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->

    <%- include('footer'); -%>
    <!-- add Intake start -->
    <div class="modal fade modal-btns" id="newBlock" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Add Block</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="p-1" id="addBlockForm">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Block Name<span class="red">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="block_name" name="block_name" placeholder="Block Name" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Block Start Date<span class="red">*</span></label>
                    <div class="col-sm-9">
                        <input class="form-control-file" type="datetime-local" id="tb_start_date_time" name="tb_start_date_time" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Block End Date<span class="red">*</span></label>
                    <div class="col-sm-9">
                        <input class="form-control-file" type="datetime-local" id="tb_end_date_time" name="tb_end_date_time" required>
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal"><i class="ft-x"></i> Close</button>
            <button type="button" class="btn btn-primary" id="saveBlock"> <i class="la la-check-square-o"></i> Save</button>
          </div>       
        </div>
      </div>
    </div>
    <!-- add Intake end -->
    <!-- edit Intake start -->
    <div class="modal fade modal-btns" id="editBlockCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalCenterTitle">Edit Block</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="p-1" id="editBlockForm">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Block Name<span class="red">*</span></label>
                    <div class="col-sm-9">
                        <input type="hidden" name="teaching_block_id" id="teaching_block_id" value="" >
                        <input type="text" class="form-control" id="edit_block_name" name="edit_block_name" placeholder="Block Name" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Block Start Date<span class="red">*</span></label>
                    <div class="col-sm-9">
                        <input class="form-control-file" type="datetime-local" id="edit_tb_start_date_time" name="edit_tb_start_date_time" required value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Block End Date<span class="red">*</span></label>
                    <div class="col-sm-9">
                        <input class="form-control-file" type="datetime-local" id="edit_tb_end_date_time" name="edit_tb_end_date_time" required value="">
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal"><i class="ft-x"></i>Close</button>
            <button type="button" class="btn btn-primary" id="editSaveBlock"><i class="la la-check-square-o"></i> Save changes</button>
          </div>        
        </div>
      </div>
    </div>
    <!-- edit Intake end -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script> -->
 
    <script>
        var options = {
            data: [
               [ 'Module Release Date', '16/05/2022', '12/09/2022' ],
               [ 'Submission Date','20/07/2022', '16/11/2022'],
               [ 'Pinned Modules','<div class="alert alert-info" role="alert">  P1 - Pinned <br> - COM001</div><div class="alert alert-info" role="alert">  P2 - Pinned <br> - COM002</div>', '<div class="alert alert-info" role="alert">  P1 - Pinned <br> - COM001</div><div class="alert alert-info" role="alert">  P2 - Pinned <br> - COM002</div>','<div class="alert alert-info" role="alert">  P1 - Pinned <br> - COM001</div><div class="alert alert-info" role="alert">  P2 - Pinned <br> - COM002</div>','<div class="alert alert-info" role="alert">  P1 - Pinned <br> - COM001</div><div class="alert alert-info" role="alert">  P2 - Pinned <br> - COM002</div>','<div class="alert alert-info" role="alert">  P1 - Pinned <br> - COM001</div><div class="alert alert-info" role="alert">  P2 - Pinned <br> - COM002</div>','<div class="alert alert-info" role="alert">  P1 - Pinned <br> - COM001</div><div class="alert alert-info" role="alert">  P2 - Pinned <br> - COM002</div>'],
               [ 'May 2022 Intake ','<div class="alert alert-primary" role="alert">  M1 - Human Computer  <br>Interaction <br> - COM5009</div><div class="alert alert-success" role="alert">  M2 - Data Analysis <br> and Visualisation <br> - COM5010</div>','<div class="alert alert-secondary" role="alert">  M3 - IT Project<br> Management <br> - COM5011</div><div class="alert alert-warning" role="alert">  M4 - Systems Analysis <br> and Design <br> - COM5002</div>'],
               [ 'Nov 2022 Intake','', '<div class="alert alert-secondary" role="alert">  M3 - IT Project<br> Management <br> - COM5011</div><div class="alert alert-warning" role="alert">  M4 - Systems Analysis <br> and Design <br> - COM5002</div>','','<div class="alert alert-primary" role="alert">  M1 - Human Computer  <br>Interaction <br> - COM5009</div><div class="alert alert-success" role="alert">  M2 - Data Analysis <br> and Visualisation <br> - COM5010</div>'],
               [ 'Feb 2023 Intake',''],
               [ 'May 2023 Intake',''],
               [ 'Sept 2023 Intake','']
            
            ],
            columns: [
                { type:'text', width:200, title:'Intake' },
                { type:'html', width:200, title:'May - July 2022' },
                { type:'html', width:200, title:'Sept - Nov 2022' },
                { type:'html', width:200, title:'Nov - Feb 2023' },
                { type:'html', width:200, title:'Feb - May 2023' },
                { type:'html', width:200, title:'May - Jul 2023' },
                { type:'html', width:200, title:'Sept 23 - Nov 2023' },
             ],
             minDimensions:[2,2],
        }
         
        jspreadsheet(document.getElementById('spreadsheet'), options);
        </script>


<script>
    var options = {
        data: [
           [ 'Module Release Date', '16/05/2022', '12/09/2022' ],
           [ 'Submission Date','20/07/2022', '16/11/2022'],
           [ 'Pinned Modules','<div class="alert alert-info" role="alert">  P1 - Pinned <br> - COM001</div><div class="alert alert-info" role="alert">  P2 - Pinned <br> - COM002</div>', '<div class="alert alert-info" role="alert">  P1 - Pinned <br> - COM001</div><div class="alert alert-info" role="alert">  P2 - Pinned <br> - COM002</div>','<div class="alert alert-info" role="alert">  P1 - Pinned <br> - COM001</div><div class="alert alert-info" role="alert">  P2 - Pinned <br> - COM002</div>','<div class="alert alert-info" role="alert">  P1 - Pinned <br> - COM001</div><div class="alert alert-info" role="alert">  P2 - Pinned <br> - COM002</div>','<div class="alert alert-info" role="alert">  P1 - Pinned <br> - COM001</div><div class="alert alert-info" role="alert">  P2 - Pinned <br> - COM002</div>','<div class="alert alert-info" role="alert">  P1 - Pinned <br> - COM001</div><div class="alert alert-info" role="alert">  P2 - Pinned <br> - COM002</div>'],
           [ 'May 2022 Intake ','<div class="alert alert-primary" role="alert">  M1 - Human Computer  <br>Interaction <br> - COM5009</div><div class="alert alert-success" role="alert">  M2 - Data Analysis <br> and Visualisation <br> - COM5010</div>','<div class="alert alert-secondary" role="alert">  M3 - IT Project<br> Management <br> - COM5011</div><div class="alert alert-warning" role="alert">  M4 - Systems Analysis <br> and Design <br> - COM5002</div>'],
           [ 'Nov 2022 Intake','', '<div class="alert alert-secondary" role="alert">  M3 - IT Project<br> Management <br> - COM5011</div><div class="alert alert-warning" role="alert">  M4 - Systems Analysis <br> and Design <br> - COM5002</div>','','<div class="alert alert-primary" role="alert">  M1 - Human Computer  <br>Interaction <br> - COM5009</div><div class="alert alert-success" role="alert">  M2 - Data Analysis <br> and Visualisation <br> - COM5010</div>'],
           [ 'Feb 2023 Intake',''],
           [ 'May 2023 Intake',''],
           [ 'Sept 2023 Intake','']
        
        ],
        columns: [
            { type:'text', width:200, title:'Intake' },
            { type:'html', width:600, title:'May - July 2022' },
            { type:'html', width:600, title:'Sept - Nov 2023' },            
         ],
         minDimensions:[2,2],
    }
     
    jspreadsheet(document.getElementById('spreadsheet1'), options);

    $('.edit_block').on('click',function(e){
        e.preventDefault();
        var data_block_id = $(this).attr('data_block_id');
        $('#teaching_block_id').val(data_block_id);
        
        axios.get('/api/staff/getblockdata/'+data_block_id).then(function (response) { 
            
            $('#edit_block_name').val(response.data.data.name);
            $('#edit_tb_start_date_time').val(response.data.data.tb_start_date_time);
            $('#edit_tb_end_date_time').val(response.data.data.tb_end_date_time);
        }).catch(function (error ) {
            console.log(error)
            console.log('FAILURE!!');
        });
    });

    $('.remove_block').on('click',function(e){
        e.preventDefault();
        var data_block_id = $(this).attr('data_block_id');
        swal({
              title: "Are you sure?",
              text: "Once deleted, you will not be able to recover this data!",
              icon: "warning",
              buttons: true,
              dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                axios.get('/api/staff/deleteBlock/'+data_block_id,{ 
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(function (response) {
                    if(response.data.status == "success"){
                        swal("Your data deleted!", {
                          icon: "success",
                        });
                        setTimeout(function(){
                            location.reload();
                        }, 3000);
                    }else{
                        swal("Something went wrong")
                    }
                }).catch(function (error ) {
                    console.log(error)
                    console.log('FAILURE!!');
                });
            }
        });
    });

    $('#saveBlock').on('click',function(e){
        e.preventDefault();
        var isValid = $('#addBlockForm').valid();

        if(isValid){
            var formData = new FormData();
            formData.append("name", $('#block_name').val());
            formData.append("tb_start_date_time", $('#tb_start_date_time').val());
            formData.append("tb_end_date_time", $('#tb_end_date_time').val());
            axios.post('/api/staff/createBlock', formData,{ 
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(function (response) {
                console.log(response)
                if(response.data.status == "success"){
                    $('#addBlockForm')[0].reset();
                    swal("Success", response.data.message);
                    //$('#notingyet').hide();
                    setTimeout(function(){
                        location.reload();
                    }, 3000);
                }else{
                     // swal(response.data.message);
                    swal("Something went wrong")
                }
            }).catch(function (error ) {
                console.log(error)
                console.log('FAILURE!!');
            });
        }
    });
    $('#editSaveBlock').on('click',function(e){
        e.preventDefault();
        var isValid = $('#editBlockForm').valid();
      
        if(isValid){
            var formData = new FormData();
            formData.append("id", $('#teaching_block_id').val());
            formData.append("name", $('#edit_block_name').val());
            formData.append("tb_start_date_time", $('#edit_tb_start_date_time').val());
            formData.append("tb_end_date_time", $('#edit_tb_end_date_time').val());
            axios.post('/api/staff/editBlock', formData,{ 
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(function (response) {
                console.log(response)
                if(response.data.status == "success"){
                    $('#addBlockForm')[0].reset();
                    swal("Success", response.data.message);
                    //$('#notingyet').hide();
                    setTimeout(function(){
                        location.reload();
                    }, 3000);
                }else{
                     // swal(response.data.message);
                    swal("Something went wrong")
                }
            }).catch(function (error ) {
                console.log(error)
                console.log('FAILURE!!');
            });
        }
    });
    </script>
</body>
<!-- END: Body-->

</html>