
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    
    <title>Intake periods - Education Host Ltd</title>
     
    <%- include('header'); -%>

    <style>
#editSaveModule, #saveModule {
    color: #fff;
}
.calendar .calendar-header {
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: 0;
}

.calendar .calendar-header .year-title {
  font-size: 18px;
}

.calendar .calendar-header .year-title:not(.year-neighbor):not(.year-neighbor2) {
  border-bottom: 2px solid #2196f3;
}

.calendar .months-container .month-container {
  height: 260px;
  margin-bottom: 25px;
}

.calendar table.month {
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
}

.calendar table.month th.month-title {
  background-color: #2196F3;
  color: white;
  padding: 12px;
  font-weight: 400;
}

.calendar table.month th.day-header {
  padding-top: 10px;
  color: #CDCDCD;
  font-weight: 400;
  font-size: 12px;
}

.calendar table.month td.day .day-content {
  padding: 8px;
  border-radius: 100%;
}

    </style>

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-content-menu material-vertical-layout material-layout 2-columns   fixed-navbar"
    data-open="click" data-menu="vertical-content-menu" data-col="2-columns">

    <!-- BEGIN: Header-->
    <nav
        class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light navbar-hide-on-scroll navbar-border navbar-shadow navbar-brand-center">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a
                            class="nav-link nav-menu-main menu-toggle hidden-xs" href="#" aria-label="Menu icon"><i
                                class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item mobile-menu mr-auto" style="padding-top:20px;">
                        <h1 class="brand-text" style="width: 40rem;">Management Dashboard </h1>
                    </li>
                    <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
                            data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
                </ul>

            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle" href="#"><i
                                    class="ft-menu"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav float-right">

                        <li>
                            <a class="dropdown-item" href="/api/user/logout"><i
                                    class="material-icons">power_settings_new</i>
                                Logout</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->

    <!-- BEGIN: Content-->
    <div class="app-content content" role="main">
        <div class="content-header row">
        </div>
        <div class="content-wrapper" style="min-height: 1500px;">

            <!-- BEGIN: Main Menu-->

            <%- include('menu'); -%>

            <!-- END: Main Menu-->
            <div class="content-body ">

                <!-- Student account data start -->
                <section id="basic">
                    <div class="row">
                        <div class="col-12">
                           
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title font-weight-bold">Intake period overview</h3>
                                    <a class="heading-elements-toggle">
                                        <i class="la la-ellipsis-v font-medium-3"></i></a>                                    
                                </div>                                
                                <div class="card-content collapse show" >
                                    <div class="card-body card-dashboard ">

                                        <% activeintakecount.forEach((item,index)=>{ %> 
                                        <p> You currently have <%= item.name %> intake periods setup.</p>
                                        <% }) %> 
                                        <p></p>
                                        <p>The last intake period has an end date of <span id="last_intake">XX/XX/XXXX<span>.</p>                                   

                                    </div>
                                </div>     
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title font-weight-bold">Intake period calendar</h3>
                                    <a class="heading-elements-toggle">
                                        <i class="la la-ellipsis-v font-medium-3"></i></a>                                    
                                </div>                                
                                <div class="card-content collapse show" >
                                    <div class="card-body card-dashboard ">
                                        <p>Calendar display of teaching periods; try to ensure there are no dates without an intake period throughout the years.</p>                                        
                                        <div id="calendar"></div>                                  
                                    </div>
                                </div>     
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title font-weight-bold">Add/Edit/Remove Intake periods</h3>
                                    <a class="heading-elements-toggle">
                                        <i class="la la-ellipsis-v font-medium-3"></i></a>                                    
                                </div>                                
                                <div class="card-content collapse show" >
                                    <div class="card-body card-dashboard ">

                                        <p>We advise setting up atleast 5 years of intake periods.</p>  
                                        
                                        <table class="table table-striped">
                                            <thead>
                                              <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Intake Name</th>
                                                <th scope="col">Intake Start Date</th>
                                                <th scope="col">Intake End Date</th>
                                                <th scope="col">Edit</th>
                                                <th scope="col">Remove</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <% allIntakesList.forEach((item,index)=>{ %>
                                              <tr>
                                                <th scope="row"><%= index = index+1 %></th>
                                                <td><%= item.teaching_block_period_description %></td>
                                                <td><%= new Date(item.intake_start_date).toISOString().replace('T', ' ').replace('0Z', ' ') %></td>
                                                <td><%= new Date(item.intake_end_date).toISOString().replace('T', ' ').replace('0Z', ' ') %></td>
                                                <td><a href="#" class="edite_intake" data_intake_id="<%= item.teaching_block_period_id %>" data-toggle="modal" data-target="#editIntakeCenter"><span class="material-symbols-outlined">edit</span></a></td>
                                                <td><a href="#" class="remove_intake" data_intake_id="<%= item.teaching_block_period_id %>" ><span class="material-symbols-outlined">delete</span></a></td>
                                              </tr>                              
                                              <% }) %> 
                                            </tbody>
                                          </table>
                                          
                                          <div class="col-md-12 mb-4" style="text-align: right;">

                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#notingyet">Add Intake Period</button>
                                            <!-- <button type="button" class="btn btn-warning">Edit Location</button>   -->
                                            <!-- <button type="button" class="btn btn-danger">Remove Location</button>                                         -->
                                          </div>
                                    </div>
                                </div>     
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Student account data end -->
            </div>
        </div>
    </div>
    <!-- END: Content-->
 
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->

    <%- include('footer'); -%>
    <!-- add Intake start -->
    <div class="modal fade" id="notingyet" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Add Intake Period</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="p-1" id="addIntakeForm">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Intake Name<span class="red">*</span></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="intake_name" name="intake_name" placeholder="Intake Name" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Intake Start Date<span class="red">*</span></label>
                    <div class="col-sm-9">
                        <input class="form-control-file" type="datetime-local" id="intake_start_date" name="intake_start_date" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Intake End Date<span class="red">*</span></label>
                    <div class="col-sm-9">
                        <input class="form-control-file" type="datetime-local" id="intake_end_date" name="intake_end_date" required>
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal"><i class="ft-x"></i> Close</button>
            <button type="button" class="btn btn-primary" id="saveModule"> <i class="la la-check-square-o"></i> Save</button>
          </div>       
        </div>
      </div>
    </div>
    <!-- add Intake end -->
    <!-- edit Intake start -->
    <div class="modal fade" id="editIntakeCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalCenterTitle">Edit Module</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="p-1" id="editIntakeForm">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Intake Name<span class="red">*</span></label>
                    <div class="col-sm-9">
                        <input type="hidden" name="intake_id" id="intake_id" value="" >
                        <input type="text" class="form-control" id="edit_intake_name" name="edit_intake_name" placeholder="Intake Name" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Intake Start Date<span class="red">*</span></label>
                    <div class="col-sm-9">
                        <input class="form-control-file" type="datetime-local" id="edit_intake_start_date" name="edit_intake_start_date" required value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Intake End Date<span class="red">*</span></label>
                    <div class="col-sm-9">
                        <input class="form-control-file" type="datetime-local" id="edit_intake_end_date" name="edit_intake_end_date" required value="">
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal"><i class="ft-x"></i>Close</button>
            <button type="button" class="btn btn-primary" id="editSaveModule"><i class="la la-check-square-o"></i> Save changes</button>
          </div>        
        </div>
      </div>
    </div>
    <!-- edit Intake end -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script> -->

    <!-- Calendar code -->
    <script src="https://unpkg.com/js-year-calendar@latest/dist/js-year-calendar.min.js"></script>
    <script>

        $(document).ready(function () {
            calenderData([]);
            $.ajax({type: "GET",
                dataType: "json",
                url: "/api/user/lastintakedate",
                success: function(reponse) {
                    if(reponse){
                        let intake_date = reponse.shift().intake_end_date;
                        let objectDate = new Date(intake_date);
                        let day = objectDate.getDate();
                        let month = objectDate.getMonth();
                        let year = objectDate.getFullYear();
                        let format1 = day + "/" + month + "/" + year;
                        $("#last_intake").text(format1);
                    }
                },error: function (err, type, httpStatus) {
                    alert('error has occured');
                }
            });
        })

        function calenderData(data) {
            var settings= {
                type: "GET",
                dataType: "json",
                url: "/api/user/getCalenderData",
                success: function(reponse) {
                    var clData = []
                    reponse.map(function(dateData){
                        var oldStartDate = new Date(dateData.startDate)
                        var oldEndDate  = new Date(dateData.endDate)
                        //console.log(oldStartDate, oldEndDate, "old")
                        var startDate = new Date (oldStartDate.setMonth(oldStartDate.getMonth() - 1))
                        var endDate   = new Date (oldEndDate.setMonth(oldEndDate.getMonth() - 1))
                        //console.log(startDate, endDate, "new")
                        var obj       = {startDate, endDate}

                        clData.push(obj)
                    })
                    
                    new Calendar('#calendar', {
                        style:'background',
                        dataSource: clData
                    })
                    
                },
                error: function (err, type, httpStatus) {
                    alert('error has occured');
                }
            };     
            $.ajax(settings);
        }
        $('.edite_intake').on('click',function(e){
            e.preventDefault();
            var data_intake_id = $(this).attr('data_intake_id');
            $('#intake_id').val(data_intake_id);
            // $('#moduleDateFields').html('')
            axios.get('/api/staff/getintakedata/'+data_intake_id).then(function (response) { 
                
                var data = response.data.data;
                var teaching_block_period_description = data.teaching_block_period_description;
                var intake_start_date = data.intake_start_date;
                var intake_end_date = data.intake_end_date;
                $('#edit_intake_name').val(teaching_block_period_description);
                $('#edit_intake_start_date').val(new Date(intake_start_date).toISOString().replace('.000Z', ''));
                $('#edit_intake_end_date').val(new Date(intake_start_date).toISOString().replace('.000Z', ''));
            }).catch(function (error ) {
                console.log(error)
                console.log('FAILURE!!');
            });
        });
        $('.remove_intake').on('click',function(e){
            e.preventDefault();
            var data_intake_id = $(this).attr('data_intake_id');
            swal({
                  title: "Are you sure?",
                  text: "Once deleted, you will not be able to recover this data!",
                  icon: "warning",
                  buttons: true,
                  dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    axios.get('/api/staff/deleteIntake/'+data_intake_id,{ 
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(function (response) {
                        if(response.data.status == "success"){
                            swal("Your data deleted!", {
                              icon: "success",
                            });
                            setTimeout(function(){
                                location.reload();
                            }, 3000);
                        }else{
                            swal("Something went wrong")
                        }
                    }).catch(function (error ) {
                        console.log(error)
                        console.log('FAILURE!!');
                    });
                }
            });
        });
        $('#editSaveModule').on('click',function(e){
            e.preventDefault();
            var isValid = $('#editIntakeForm').valid();
            if(isValid){
                var formData = new FormData();
                formData.append("intake_id", $('#intake_id').val());
                formData.append("teaching_block_period_description", $('#edit_intake_name').val());
                formData.append("intake_start_date", $('#edit_intake_start_date').val());
                formData.append("intake_end_date", $('#edit_intake_end_date').val());
                axios.post('/api/staff/updateIntake', formData,{ 
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(function (response) {
                    console.log(response)
                    if(response.data.status == "success"){
                        $('#editIntakeForm')[0].reset();
                        swal("Success", response.data.message);
                        $('#editIntakeCenter').hide();
                        setTimeout(function(){
                            location.reload();
                        }, 3000);
                    }else{
                         // swal(response.data.message);
                        swal("Something went wrong")
                    }
                }).catch(function (error ) {
                    console.log(error)
                    console.log('FAILURE!!');
                });
            }
        });
        $('#saveModule').on('click',function(e){
            e.preventDefault();
            var isValid = $('#addIntakeForm').valid();
            if(isValid){
                var formData = new FormData();
                formData.append("teaching_block_period_description", $('#intake_name').val());
                formData.append("intake_start_date", $('#intake_start_date').val());
                formData.append("intake_end_date", $('#intake_end_date').val());
                axios.post('/api/staff/createIntake', formData,{ 
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(function (response) {
                    console.log(response)
                    if(response.data.status == "success"){
                        $('#addIntakeForm')[0].reset();
                        swal("Success", response.data.message);
                        $('#notingyet').hide();
                        setTimeout(function(){
                            location.reload();
                        }, 3000);
                    }else{
                         // swal(response.data.message);
                        swal("Something went wrong")
                    }
                }).catch(function (error ) {
                    console.log(error)
                    console.log('FAILURE!!');
                });
            }
        });
    </script>
    
</body>
<!-- END: Body-->

</html>