
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    
    <title>Bulk Import - Education Host Ltd</title>

    <%- include('header'); -%>

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-content-menu material-vertical-layout material-layout 2-columns   fixed-navbar"
    data-open="click" data-menu="vertical-content-menu" data-col="2-columns">

    <!-- BEGIN: Header-->
    <nav
        class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light navbar-hide-on-scroll navbar-border navbar-shadow navbar-brand-center">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a
                            class="nav-link nav-menu-main menu-toggle hidden-xs" href="#" aria-label="Menu icon"><i
                                class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item mobile-menu mr-auto" style="padding-top:20px;">
                        <h1 class="brand-text" style="width: 40rem;">Management Dashboard </h1>
                    </li>
                    <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
                            data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
                </ul>

            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle" href="#"><i
                                    class="ft-menu"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav float-right">

                        <li>
                            <a class="dropdown-item" href="/api/user/logout"><i
                                    class="material-icons">power_settings_new</i>
                                Logout</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->

    <!-- BEGIN: Content-->
    <div class="app-content content" role="main">
        <div class="content-header row">
        </div>
        <div class="content-wrapper">

            <!-- BEGIN: Main Menu-->

            <div class="main-menu material-menu menu-static menu-light menu-accordion menu-shadow"
                data-scroll-to-active="true">
                <div class="user-profile">
                    <div class="user-info text-center pt-1 pb-1"><img class="user-img img-fluid rounded-circle"
                            src="/images/logo/logo.png" alt="Dashboard Menu logo" />

                        <div class="text-dark">Hello <br> <span style="font-size: 1.5rem">
                                <%= user.name.givenName %>
                                    <%= user.name.familyName %>
                            </span></div>

                    </div>
                </div>
                <div class="main-menu-content">
                    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

                        <li class=" nav-item">
                            <a href="/staff/dashboard" class="d-flex justify-content-start align-items-start waves-effect waves-dark">
                                <i class=" material-icons mr-1">dashboard</i>
                                <span class="menu-title" data-i18n="nav.support_raise_support.main">
                                    Dashboard
                                </span>
                            </a>
                        </li>
                        <!-- Support Menu-->
                        <li class=" navigation-header"><span data-i18n="nav.category.support">Support</span><i
                                class="material-icons nav-menu-icon" data-toggle="tooltip" data-placement="right"
                                data-original-title="Support">more_horiz</i>
                        </li>
                        <% supportMenu.main.forEach(item=> {
                            %>

                            <li class=" nav-item">
                                <a href="<%= item.url %>" class="d-flex justify-content-start align-items-start">
                                    <i class="material-icons mr-1">
                                        <%= item.icon %>
                                    </i>
                                    <span class="menu-title" data-i18n="nav.support_raise_support.main">
                                        <%= item.label %>
                                    </span>
                                </a>
                            </li>

                            <% }) %>
                                <li class=" navigation-header"><span data-i18n="nav.category.support">Other
                                        Links</span><i class="material-icons nav-menu-icon" data-toggle="tooltip"
                                        data-placement="right" data-original-title="Support">more_horiz</i>
                                </li>
                                <% supportMenu.other.forEach(item=> {
                                    %>

                                    <li class=" nav-item">
                                        <a href="<%= item.url %>"
                                            class="d-flex justify-content-start align-items-start">
                                            <i class="material-icons mr-1">
                                                <%= item.icon %>
                                            </i>
                                            <span class="menu-title mt-1" data-i18n="nav.support_raise_support.main">
                                                <%= item.label %>
                                            </span>
                                        </a>
                                    </li>

                                    <% }) %>
                                        <li>
                                            
                    </ul>


                    <!-- Admin Pannel start  -->
                    <% if(user.isAdmin){ %>
                        <div class="main-menu material-menu menu-static menu-light menu-accordion menu-shadow mt-2  "
                            data-scroll-to-active="true">
                            <div class="user-profile">
                                
                                    <div class="text-dark"> </div>  </div>
                            
                            <ul class="navigation navigation-main" id="main-menu-navigation"
                                data-menu="menu-navigation">
                                <li class=" navigation-header"><span data-i18n="nav.category.support">Admin</span><i
                                    class="material-icons nav-menu-icon" data-toggle="tooltip" data-placement="right"
                                    data-original-title="Support">more_horiz</i>
                            </li>
                                <% supportMenu.admin.forEach(item=> {
                                    %>
                                    <li class=" nav-item">
                                        <a href="<%= item.url %>"
                                            class="d-flex justify-content-start align-items-start">
                                            <i class="material-icons mr-1">
                                                <%= item.icon %>
                                            </i>
                                            <span class="menu-title <%= item.style %>"
                                                data-i18n="nav.support_raise_support.main  ">
                                                <%= item.label %>
                                            </span>
                                        </a>
                                    </li>
                                    <% }) %>
                                        <li>
                            </ul>
                        </div>
                        <% } %>
                            <!-- Admin Pannel end -->
                </div>
            </div>


            <!-- END: Main Menu-->
            <div class="content-body import-file-block">

                <!-- Student account data start -->
                <section id="basic">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title font-weight-bold">Bulk Import Tool</h3>
                                    <a class="heading-elements-toggle">
                                        <i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body card-dashboard ">
                                        <p>Upload your CSV file to import users into the system. This will setup the number of accounts setup in the settings (typically 5
										accounts at a time) until the CSV file is completed.</p>
                                        <p>
										Please ensure that the CSV file is populated as per our <a href="#Modal" data-toggle="modal" data-target="#exampleModalScrollable">guidelines</a>, a sample CSV can be found <a href="/Education_Host_Sample_bulk_import_CSV.csv">here</a>.</p>
                                        <p>
                                          
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                          <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalScrollableTitle"> Guidelines</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                <p></p>
                                                <p>The following fields must be present in the CSV file to support the upload.</p>
                                                <p>If the fields market mandatory are not present then the upload will fail.</p>
                                                <p></p>                                                  
                                                  <table class="table">
                                                    <thead class="thead-light">
                                                      <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">CSV Heading</th>
                                                        <th scope="col">Example Data</th>
                                                        <th scope="col">Mandatory (Yes/No)</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr>
                                                        <th scope="row">1</th>
                                                        <td>First Name</td>
                                                        <td>Nick</td>
                                                        <td>Yes</td>
                                                      </tr>
                                                      <tr>
                                                        <th scope="row">2</th>
                                                        <td>Last Name</td>
                                                        <td>Williams</td>
                                                        <td>Yes</td>
                                                      </tr>
                                                      <tr>
                                                        <th scope="row">3</th>
                                                        <td>Email address</td>
                                                        <td>nick@youruniversity.ac.uk / .edu</td>
                                                        <td>Yes</td>
                                                      </tr>
                                                      <tr>
                                                        <th scope="row">4</th>
                                                        <td>Student Number</td>
                                                        <td>WILN106</td>
                                                        <td>Yes</td>
                                                      </tr>
                                                      <tr>
                                                        <th scope="row">5</th>
                                                        <td>Is lecturer?</td>
                                                        <td>0</td>
                                                        <td>Yes</td>
                                                      </tr>
                                                      <tr>
                                                        <th scope="row">6</th>
                                                        <td>Is admin?</td>
                                                        <td>0</td>
                                                        <td>Yes</td>
                                                      </tr>
                                                      <tr>
                                                        <th scope="row">7</th>
                                                        <td>Teaching location</td>
                                                        <td><i>Defined in settings</i></td>
                                                        <td>Yes</td>
                                                      </tr>
                                                      <tr>
                                                        <th scope="row">8</th>
                                                        <td>Teaching block *only if enabled on the setting page</td>
                                                        <td><i>Defined in module manager/settings</i></td>
                                                        <td>Yes</td>
                                                      </tr>
                                                      <tr>
                                                        <th scope="row">9</th>
                                                        <td>User module 1</td>
                                                        <td><i>Defined in module manager</i></td>
                                                        <td>Yes</td>
                                                      </tr>
                                                      <tr>
                                                        <th scope="row">10</th>
                                                        <td>User module 2</td>
                                                        <td><i>Defined in module manager</i></td>
                                                        <td>No</td>
                                                      </tr>
                                                      <tr>
                                                        <th scope="row">11</th>
                                                        <td>User module 3</td>
                                                        <td><i>Defined in module manager</i></td>
                                                        <td>No</td>
                                                      </tr>
                                                      <tr>
                                                        <th scope="row">12</th>
                                                        <td>User module 4</td>
                                                        <td><i>Defined in module manager</i></td>
                                                        <td>No</td>
                                                      </tr>
                                                      <tr>
                                                        <th scope="row">13</th>
                                                        <td>User module 5</td>
                                                        <td><i>Defined in module manager</i></td>
                                                        <td>No</td>
                                                      </tr>
                                                      <tr>
                                                        <th scope="row">14</th>
                                                        <td>User module 6</td>
                                                        <td><i>Defined in module manager</i></td>
                                                        <td>No</td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                <p></p>
                                                <h3>Additional Notes</h3>
                                                <p>Teaching location - This must match with the teaching blocks you have setup.</p>
                                                <p>User modules - Must match the module codes setup in module manager.</p>
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                
                                              </div>
                                            </div>
                                          </div>
                                        </div>
										Some organisations prefer to remove the option for the user signing up on their own - If you would like to disable user allowed registration then you can disable
										this in the settings page</p>

										<div class="card">
										  <div class="card-body text-center" style="border:1px dashed">
										    <h2>Drop files or click to upload</h2>
										    <br />
										    <!-- action="http://localhost:8080/api/staff/uploadUserCsv" -->
										    <form  method="POST" enctype="multipart/form-data" id="csvForm"> 
											  <div class="form-group">
											    <input type="file"  id="csvFileInput" name="csv_file" class="choose-file">
											  </div>
											  <div class="form-group ">
											    <button class="btn btn-secondary submit-btn" id="csvFileBtn" type="submit">Submit</button>
											  </div>
											</form>
										  </div>
										</div>


                                        <!-- <div id="jsGrid" style="height: 200px; overflow-y: auto;"></div> -->
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Student account data end -->
                


            </div>
        </div>
    </div>
    <!-- END: Content-->
    <!-- Modal -->
<div id="Modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Modal Header</h4>
  </div>
  <div class="modal-body">
    <p>Some text in the modal.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>

  </div>
</div>

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->

    <%- include('footer'); -%>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
    	$( document ).ready(function() {
//             $('a[href$="#Modal"]').on( "click", function() {
//    $('#Modal').modal('show');
// });
		    $('#csvFileBtn').off('click').on('click', function(e){
		    	e.preventDefault();
		    	var formData = new FormData();
				var imagefile = document.querySelector('#csvFileInput');
                
                if(imagefile.files.length == 0 ){
                    swal('Please select a csv file.');
                    return false;
                }
				formData.append("csv_file", imagefile.files[0]);

				if(imagefile.files[0].type != 'text/csv'){
					swal("Please upload a valid csv file");
					$('#csvForm')[0].reset();
					return false;
				}

				axios.post('/api/staff/uploadUserCsv', formData, {
				    headers: {
				      'Content-Type': 'multipart/form-data'
				    }
				}).then(function (response) {
				  $('#csvForm')[0].reset();
				  if(response.data.status == "success"){
				  	swal("Success", response.data.message);
				  }else{
				  	swal(response.data.message);
				  }
		        })
		        .catch(function () {
		          console.log('FAILURE!!');
		        });
		    });
		});

    </script>
</body>
<!-- END: Body-->

</html>