<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Dashboard for student management by Education Host Ltd">
    <meta name="author" content="Education Host Ltd">
    <title>Dashboard - Education Host Ltd</title>
    <link rel="apple-touch-icon" href="/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="/images/ico/favicon.ico">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/vendors/css/material-vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/weather-icons/climacons.min.css">
    <link rel="stylesheet" type="text/css" href="/fonts/meteocons/style.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/charts/morris.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/charts/chartist.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/charts/chartist-plugin-tooltip.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/vendors/css/tables/jsgrid/jsgrid-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/vendors/css/tables/jsgrid/jsgrid.min.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="/css/material.css">
    <link rel="stylesheet" type="text/css" href="/css/components.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="/css/material-colors.css">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/css/core/menu/menu-types/material-vertical-content-menu.css">
    <link rel="stylesheet" type="text/css" href="/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="/css/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="/css/pages/timeline.css">
    <link rel="stylesheet" type="text/css" href="/css/pages/dashboard-ecommerce.css">
    <!-- END: Page CSS-->
    <script src="/vendors/js/tables/jquery-1.12.3.js"></script>
    <!-- BEGIN: Custom CSS-->
    <link type="text/css" href="/css/style.css">
    <!-- END: Custom CSS-->

    <!-- Axios CDNs -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript">


        axios.get('/api/user/staffdashboardusercount')
            .then(function (response) {
                // Get the client data from the response
                var data = response.data[0];

                // log all data thats returned
                console.log(data);

                $("#numberOfUsers").text(data.count);

            });



        axios.get('/api/user/staffdashboardstaffcount')
            .then(function (response) {
                // Get the client data from the response
                var data = response.data[0];

                // log all data thats returned
                console.log(data);

                $("#numberOfStaff").text(data.count);

            });

        axios.get('/api/user/staffdashboardusersupportstats')
            .then(function (response) {
                // Get the client data from the response
                var data = response.data[0];

                // log all data thats returned
                console.log(data);

                $("#supportStats").text(data.Average.toFixed(2));
                $("#supportStatsNumbers").text(data.NumberOfTickets);

            });

        axios.get('/api/user/totalsupporttickets')
            .then(function (response) {
                // Get the client data from the response
                var data = response.data[0];

                // log all data thats returned
                console.log(data);

                $("#tickets").text(data.Tickets);


            });

    </script>

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-content-menu material-vertical-layout material-layout 2-columns   fixed-navbar"
    data-open="click" data-menu="vertical-content-menu" data-col="2-columns">

    <!-- BEGIN: Header-->
    <nav
        class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light navbar-hide-on-scroll navbar-border navbar-shadow navbar-brand-center">
        <div class="navbar-wrapper">
            <div class="navbar-header">


                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a
                            class="nav-link nav-menu-main menu-toggle hidden-xs" href="#" aria-label="Menu icon"><i
                                class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item mobile-menu mr-auto" style="padding-top:20px;">
                        <h1 class="brand-text">Lecturer Dashboard</h1>
                    </li>
                    <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
                            data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
                </ul>

            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle" href="#"><i
                                    class="ft-menu"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav float-right">

                        <li>
                            <a class="dropdown-item" href="/api/user/logout"><i class="material-icons">power_settings_new</i>
                                Logout</a>

                </li>
                </ul>
            </div>
        </div>
        </div>
    </nav>
    <!-- END: Header-->

    <!-- BEGIN: Content-->
    <div class="app-content content" role="main">
        <div class="content-header row">
        </div>
        <div class="content-wrapper">

            <!-- BEGIN: Main Menu-->

            <div class="main-menu material-menu menu-static menu-light menu-accordion menu-shadow"
                data-scroll-to-active="true">
                <div class="user-profile">
                    <div class="user-info text-center pt-1 pb-1"><img class="user-img img-fluid rounded-circle"
                            src="/images/logo/logo.png" alt="Dashboard Menu logo" />

                        <div class="text-dark">Hello <br> <span style="font-size: 1.5rem"> <%= user.name.givenName %> <%= user.name.familyName %></span></div>

                    </div>
                </div>
                <div class="main-menu-content">
                    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

                      
                        <!-- Support Menu-->
                        <li class=" navigation-header"><span data-i18n="nav.category.support">Support</span><i
                                class="material-icons nav-menu-icon" data-toggle="tooltip" data-placement="right"
                                data-original-title="Support">more_horiz</i>
                        </li>
                        <%

                          supportMenu.main.forEach(item => {
                            %>

                            <li class=" nav-item">
                              <a href="<%= item.url %>" class="d-flex justify-content-start align-items-start">
                                <i class="material-icons mr-1"><%= item.icon %></i>
                                <span class="menu-title" data-i18n="nav.support_raise_support.main"><%= item.label %></span>
                              </a>
                            </li>

                            <%
                          })

                        %>
                        <li class=" navigation-header"><span data-i18n="nav.category.support">Other Links</span><i
                                class="material-icons nav-menu-icon" data-toggle="tooltip" data-placement="right"
                                data-original-title="Support">more_horiz</i>
                        </li>
                        <%

                          supportMenu.other.forEach(item => {
                            %>

                            <li class=" nav-item">
                              <a href="<%= item.url %>" class="d-flex justify-content-start align-items-start">
                                <i class="material-icons mr-1"><%= item.icon %></i>
                                <span class="menu-title mt-1" data-i18n="nav.support_raise_support.main"><%= item.label %></span>
                              </a>
                            </li>

                            <%
                          })

                        %>
                        <!-- <li class=" navigation-header"><span data-i18n="nav.category.support">Support</span><i
                                class="material-icons nav-menu-icon" data-toggle="tooltip" data-placement="right"
                                data-original-title="Support">more_horiz</i>
                        </li>
                        <li class=" nav-item"><a href="http://support.pixinvent.com/"><i
                                    class="material-icons">local_offer</i><span class="menu-title"
                                    data-i18n="nav.support_raise_support.main">Raise Support</span></a>
                        </li>
                        <li class=" nav-item"><a href="faq.html"><i class="material-icons">help_outline</i><span
                                    class="menu-title" data-i18n="">FAQ</span></a>
                        </li>
                        <li class=" nav-item"><a href="knowledge-base.html"><i
                                    class="material-icons">info_outline</i><span class="menu-title"
                                    data-i18n="">Knowledge Base</span></a>
                        </li>
                        <li class=" navigation-header"><span data-i18n="nav.category.support">Other Links</span><i
                                class="material-icons nav-menu-icon" data-toggle="tooltip" data-placement="right"
                                data-original-title="Support">more_horiz</i>
                        </li>
                        <li class=" nav-item"><a href="news-feed.html"><i class="material-icons">list_alt</i><span
                                    class="menu-title" data-i18n="">Admin Area</span></a>
                        </li>
                        <li class=" nav-item"><a href="https://uptime.statuscake.com/?TestID=PzBTSXZwia"
                                target="_blank"><i class="material-icons">list_alt</i><span class="menu-title"
                                    data-i18n="">Network Monitor</span></a>
                        </li> -->
                    </ul>
                </div>
            </div>

            <!-- END: Main Menu-->
            <div class="content-body">
                <!-- eCommerce statistic -->
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-12">
                        <div class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="media-body text-left">
                                            <h2 class="info"> <i id="numberOfUsers"></i></h2>
                                            <p>Active Students</p>
                                        </div>
                                        <div>
                                            <i class="icon-user-follow activestudents font-large-2 float-right"></i>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                        <div class="progress-bar bg-gradient-x-info" role="progressbar"
                                            style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-12">
                        <div class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="media-body text-left">
                                            <h2 class="success"><i id="numberOfStaff"></i></h2>
                                            <p>Active Lecturers</p>
                                        </div>
                                        <div>
                                            <i class="icon-user-follow success font-large-2 float-right"></i>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                        <div class="progress-bar bg-gradient-x-success" role="progressbar"
                                            style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12">
                        <div class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="media-body text-left">
                                            <h2 class="warning"><i id="tickets"></i></h2>
                                            <p>Support Tickets (1 year)</p>
                                        </div>
                                        <div>
                                            <i class="icon-users warning font-large-2 float-right"></i>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                        <div class="progress-bar bg-gradient-x-warning" role="progressbar"
                                            style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-6 col-12">
                        <div class="card pull-up">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="media-body text-left">
                                            <h2 class="danger"><i id="supportStats"></i> / 10</h2>
                                            <p>Support Feedback (<i id="supportStatsNumbers"></i> Tickets)</i></p>
                                        </div>
                                        <div>
                                            <i class="icon-heart danger font-large-2 float-right"></i>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                        <div class="progress-bar bg-gradient-x-danger" role="progressbar"
                                            style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ eCommerce statistic -->

                <!-- Student account data start -->
                <section id="basic">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Student Account Manager</h3>
                                    <a class="heading-elements-toggle">
                                        <i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body card-dashboard ">
                                        <p>Use the table to search and manage users by the modules they are taking.</p>

                                        <div id="jsGrid" style="height: 200px; overflow-y: auto;"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Student account data end -->
                <section id="basic">
                    <div class="row">
                        <div class="col-8">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Number of user logins in per Month</h3>
                                    <a class="heading-elements-toggle">
                                        <i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">

                                    <div class="card-body card-dashboard ">


                                        <!-- Revenue, Hit Rate & Deals -->
                                        <div class="row">
                                            <div class=" col-12">
                                                <div class="card">
                                                    
                                                    <div class="card-content collapse show">
                                                        <div class="card-body pt-0">
                                                            <div class="row mb-1">
                                                                <div class="col-6 col-md-4">

                                                                </div>
                                                                <div class="col-6 col-md-4">

                                                                </div>
                                                            </div>
                                                            <div class="chartjs">
                                                                <canvas id="thisYearRevenue" widtsh="400" style="position: absolute; width: 100%"></canvas>
                                                                <canvas id="lastYearRevenue" widsth="400" style=" width: 100%"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!--/ Revenue, Hit Rate & Deals -->

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                          <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Top Users</h4>
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a onclick="seeall()">Show all</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <tbody id="logins" style="overflow-y: auto; height: 100%">
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div></div>
                    </div>
                </section>

                <section id="basic">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Student Suspension Manager</h3>
                                    <a class="heading-elements-toggle">
                                        <i class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body card-dashboard ">
                                        <p>Use the table to suspend or unsuspend student accounts. If the user is suspended then they will not be permitted to login to the Single Sign-On but their cpanel account will still work.</p>

                                        <div id="jsGrid1" style="height: 200px; overflow-y: auto;"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>


            </div>
        </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light navbar-border">
        <p class="clearfix blue-grey text-sm-center mb-0 px-2"><span
                class="float-md-right d-block d-md-inline-block">Copyright &copy; <%= copyrightDate%>&nbsp;&nbsp;<a
                    class="text-bold-800 grey darken-2" href="https://www.educationhost.co.uk" target="_blank">Education
                    Host Ltd</a></span></p>
    </footer>
    <!-- END: Footer-->


    <!-- BEGIN: Vendor JS-->

    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Vendor JS-->
    <script src="/vendors/js/material-vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="/vendors/js/charts/chart.min.js"></script>


    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="/js/core/app-menu.js"></script>

    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="/js/scripts/pages/material-app.js"></script>
    <script src="/js/scripts/pages/dashboard-sales.js"></script>
    <!-- END: Page JS-->
    <!-- BEGIN: Page Vendor JS-->

    <script src="/vendors/js/ui/headroom.min.js"></script>
    <script src="/vendors/js/charts/chartist.min.js"></script>
    <script src="/vendors/js/charts/chartist-plugin-tooltip.min.js"></script>
    <script src="/vendors/js/charts/raphael-min.js"></script>
    <script src="/vendors/js/charts/morris.min.js"></script>
    <script src="/vendors/js/timeline/horizontal-timeline.js"></script>
    <!-- END: Page Vendor JS-->

    <script src="/vendors/js/tables/jsgrid/jsgrid.min.js"></script>
    <script src="/vendors/js/tables/jsgrid/griddata.js"></script>
    <script src="/js/scripts/tables/jsgrid/jsgrid.js"></script>
<script src="/js/scripts/tables/jsgrid/susgrid.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- BEGIN: Vendor JS-->


    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="/js/scripts/pages/material-app.js"></script>
    <script src="/js/scripts/pages/dashboard-ecommerce.js"></script>
    <!-- END: Page JS-->
    <script src="/js/scripts/pages/dashboard-sales.js"></script>
<script src="/js/core/app.js"></script>
    <!-- Temporarily here -->
    <script>
    
      // Get Logins
      fetch('/api/user/gettoplogin').then(res => res.json()).then(data => {
          const userLogins = data.data;


          userLogins.forEach(user => {
            $('#logins').append(`
            
              <tr>
                <th scope="row" class="border-top-0">${user.firstname+user.lastname}</th>
                <td class="border-top-0">${user.logins}</td>
              </tr>

            `)
          })
      }).catch(err => {
        console.error('Error fetching login count', err)
      })

        function seeall() {
            fetch('/api/user/getalllogin').then(res => res.json()).then(data => {
                const userLogins = data.data;

                $('#logins').empty();
                userLogins.forEach(user => {
                    $('#logins').append(`

              <tr>
                <th scope="row" class="border-top-0">${user.firstname+user.lastname}</th>
                <td class="border-top-0">${user.logins}</td>
              </tr>

            `)
                })
            }).catch(err => {
                console.error('Error fetching login count', err)
            })
        }


    </script>
</body>
<!-- END: Body-->

</html>