<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Login">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>


    <!-- Include the plugin's CSS and JS: -->
<script type="text/javascript" src="/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="/bootstrap-multiselect.css" type="text/css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


    <!--BSStepper CDN -->
    <script src="/bs-stepper.min.js"></script>

    
    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/home.css" type="text/css" />
    <base href="/">
    <link href="https://cdn.jsdelivr.net/npm/multiple-select-js@latest/dist/css/multiple-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/multiple-select-js@latest/dist/js/multiple-select.js"></script>
    <link rel="stylesheet" href="/css/spinner.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
   <script type="text/javascript">
        // Code to init the stepper
        var stepper1 = null

        document.addEventListener('DOMContentLoaded', function () {
            stepper1 = new Stepper(document.querySelector('#stepper1'), {
                linear: false,
                animation: true
            });
        });

       
    
      
    

        $(document).ready(function () {
            // Student Spinner
            $('#studentspinner').click(function () {
                $(this).toggleClass('active');
                student();
                $(this).prop('disabled', true);
                console.log($(this));
            });

            // Staff Spinner
            $('#staffspinner').click(function () {
                $(this).toggleClass('active');
                staff();
                $(this).prop('disabled', true);
                console.log($(this));
            });

            $('#newuser').modal('show');
        }); // end of doc ready

    </script>
    <style>
        .error{
            color: red;
        }

        #tableRender {
            width: 100%;
        }

        #tableRender table, #tableRender table th, #tableRender table td {
            border: 1px solid #000;
            text-align: center;
            border-collapse: collapse;
        }

        #tableRender table th {
          font-weight:800;
        }

        #tableRender table th, #tableRender table td {
            font-size: 14px;
            padding: 7px;
        }
        .select-table-col {
            width: 90px;
        }
    </style>
</head>

<body>
<div id="overlay">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>
<div role="main">
    <div class="modal fade" id="newuser" tabindex="-1" role="dialog" aria-labelledby="newuser" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="newusertitle">
                        New user - Getting started
                    </h1>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">
								&times;
							</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div id="stepperForm" class="bs-stepper">
                        <div class="bs-stepper-header" role="tablist">
                            <div class="step" data-target="#test-form-1">
                                <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger1" aria-controls="test-form-1">
                                    <span class="bs-stepper-circle">1</span>
                                    <span class="bs-stepper-label">Step one</span>
                                </button>
                            </div>
                            <div class="bs-stepper-line"></div>
                            <div class="step" data-target="#test-form-2">
                                <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger2" aria-controls="test-form-2">
                                    <span class="bs-stepper-circle">2</span>
                                    <span class="bs-stepper-label">Step two</span>
                                </button>
                            </div>
                            <div class="bs-stepper-line"></div>
                            <div class="step" data-target="#test-form-3">
                                <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger3" aria-controls="test-form-3">
                                    <span class="bs-stepper-circle">3</span>
                                    <span class="bs-stepper-label">Step three</span>
                                </button>
                            </div>
                        </div>
                        <div class="bs-stepper-content">
                            <form class="needs-validation" onSubmit="return false" novalidate id="form2">
                                <div id="test-form-1" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepperFormTrigger1">
                                    <p class="text-center">
                                    <p></p>
                                    The first time you use the service we have a few things to setup for you...

                                    <p></p>
                                    Your website domain will be:
                                    <p></p>

                                    <p></p>

                                    <p class="text-center">
                                        <b>
                                            <i id="txtDomain"><%= domain %></i>
                                        </b>
                                    </p>
                                    </p>
                                    <div class="text-right"><button class="btn btn-primary btn-next-form">Next</button></div>

                                </div>
                                <div id="test-form-2" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="stepperFormTrigger2">
                                    <p class="text-center">
                                        <b>Tell us about the modules you are taking.</b>

                                    <p>
                                    <p class="text-center">We will use this to setup folders for you to put
                                        your
                                        work!</p>
                                    <p class="text-center">Lecturers will use this to locate your work!
                                    </p>
                                    <div class="row">
                                        <div class="form-group col-sm-8">
                                            <label for="">Teaching Location<span class="error">*</span></label>
                                            <select class="form-control" name="teaching_location" id="teaching_location" required>
                                                <option value="">select location</option>
                                                <% teachingLocation.forEach(item=> { %>
                                                    <option value="<%= item.teaching_location_id %>"><%= item.name %></option>
                                                <% }) %>
                                            </select>
                                          </div>
                                        
                                    </div>
                                    <% if(!isCourseEnabled) { %>
                                    <input type="hidden" name="isCourseEnabled" id="isCourseEnabled" value="0">
                                    <div class="row">
                                        <!-- <div class="col-md-12"> -->
                                            <div class="form-group col-sm-8">
                                                <label for="">Modules<span class="error">*</span></label>
                                                <br/>
                                            <select id="example-dropright" multiple name="multiselect[]" required class="col-sm-8">
                                                <!-- <option value="<%= option.module1 %>"><%= option.module1 %></option>
                                                <option value="<%= option.module2 %>"><%= option.module2 %></option>
                                                <option value="<%= option.module3 %>"><%= option.module3 %></option>
                                                <option value="<%= option.module4 %>"><%= option.module4 %></option>
                                                <option value="<%= option.module5 %>"><%= option.module5 %></option>
                                                <option value="<%= option.module6 %>"><%= option.module6 %></option>
                                                <option value="<%= option.module7 %>"><%= option.module7 %></option> -->
                                                 
                                            </select><br/>
                                            <label id="example-dropright-error" class="error" for="example-dropright"></label>
                                            </div>
                                        <!-- </div> -->
                                    </div>
                                    <% } else { %>
                                    <input type="hidden" name="isCourseEnabled" id="isCourseEnabled" value="1">
                                    <!-- start course -->
                                    <div class="row">
                                        <div class="form-group col-sm-8">
                                            <label for="">Course<span class="error">*</span></label>
                                            <select class="form-control" name="course" id="course" required>
                                                <option value="">select course</option>
                                                
                                            </select>
                                          </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-8">
                                            <label for="">Module Dropdown</label>
                                            <div id="tableRender">
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <% }%>
                                    <!-- end course -->
                                    <div class="row">
                                       <div class="form-group col-sm-8">
                                            <label for="">Teaching Block Period<span class="error">*</span></label>
                                            <select class="form-control" name="teaching_block_period" id="teaching_block_period" required>
                                                <option value="">select period</option>
                                               <% teachingBlockPeriods.forEach(item=> { %>
                                                    <option value="<%= item.teaching_block_period_id %>"><%= item.teaching_block_period_description %></option>
                                                <% }) %>
                                            </select>
                                          </div>
                                    </div>                                  
                                    <input type="hidden" name="ID" id="ID" value="<%= ID%>">
                                    <div class="text-right"><button class="btn btn-primary btn-next-form" id="form2Btn">Next</button></div>

                                </div>
                                <div id="test-form-3" role="tabpanel" class="bs-stepper-pane fade text-center" aria-labelledby="stepperFormTrigger3">
                                    <div class="card-deck">
                                        <div class="card">
                                            <img class="card-img-top" src="/images/student.jpg"
                                                 alt="Student account" width="100%" height="50%">
                                            <div class="card-body">
                                                <h2 class="card-title border-bottom pb-3">Student account
                                                </h2>
                                                <p class="card-text">If you are a student, select this account.Your web hosting package will be available to you during your time at university. Account setup can take a couple of minutes to complete.
                                                </p>
                                                <div class="d-flex justify-content-end">
                                                    <button type="button" title="Create a Student Account" id="studentspinner" class="btn btn-success  has-spinner">
                                                        <span class="spinner">
                                                            <i style="color: white;" class="fa fa-spinner fa-spin"></i>
                                                        </span> Click Here</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <img class="card-img-top" src="/images/staff.jpg"
                                                 alt="Staff account" width="100%" height="50%">
                                            <div class="card-body">
                                                <h2 class="card-title border-bottom pb-3">Lecturer account</h2>
                                                <p class="card-text">If you are a Lecturer, select this account. This account type requires email validation to validate your status as a lecturer.
                                                    <br><br> </p>
                                                <div class="d-flex justify-content-end align-items-end">
                                                    <button type="button" title="Create a Lecturer Account" id="staffspinner" class="btn btn-secondary has-spinner">
                                                        <span class="spinner"><i class="fa fa-spinner fa-spin"></i>
                                                        </span> Click Here</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--   submit button here  -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="row">
        <div class="col-md-12">


            <div class="modal fade" id="timermodal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-clock-o"></i> We're setting up your account... </h4>
                        </div>
                        <div class="modal-body">
                            <section id="section1" class="text-center">
                                <p>Whilst we setup your account, let's show you around a bit</p>
                                <h4>How to Login</h4>
                                <p>To login use the same page as you used to register, we’ll check if you are registered when you click the Login / Register button.</p>
                            </section>
                            <section id="section2" class="text-center">
                                <h4>Manage your service through the Client Area</h4>
                                <p>Use the Client Area to manage your account, from signing into cPanel, through to opening a support ticket. The Client Area is provided to manage your account.</p>
                                <div><img src="/images/img1.png" alt="Web Hosting Client Area"></div>
                            </section>
                            <section id="section3" class="text-center">
                                <h4>cPanel (Control Panel)</h4>
                                <p>Use cPanel to upload your website and manage the Web Hosting functions. You can single sign on to cPanel through the Client Area.</p>
                                <div><img src="/images/img2.png" alt="cPanel Control Panel"></div>
                            </section>
                            <div class="progress" style="width:750px;">
                                <div  class="center progress-bar bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer center-block">

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>
    </div>
    <script>

        $('#timermodal').on('shown.bs.modal', function () {

            var progress = setInterval(function() {
                var $bar = $('.bar');

                if ($bar.width()>=750) {

                    // complete
                    window.location="/"
                    clearInterval(progress);
                    $('.progress').removeClass('active');
                    $('#timermodal').modal('hide');
                    $bar.width(0);

                } else {
                    if ($bar.width()<=217){
                        $('#section1').show();
                        $('#section2').hide();
                        $('#section3').hide();

                    }else if($bar.width()>217 &&$bar.width()<=457){
                        $('#section1').hide();
                        $('#section2').show();
                        $('#section3').hide();
                    }else{
                        $('#section1').hide();
                        $('#section2').hide();
                        $('#section3').show();
                    }
                    // perform processing logic here
                    $bar.width($bar.width()+7.5);
                }

                $bar.text($bar.width()/7.5 + "%");
            }, 800);


        })


    </script>
  
  <script type="text/javascript">

    window.onload = function() {
        $('#example-dropright').multiselect({
            buttonWidth: '471px',
            //dropRight: true
        });
}
$('#form2Btn').click(function(){
    var isValid = $("#form2").valid();
    $('#form2Btn').prop('disabled', false); 
    if(isValid){
        $('#form2Btn').prop('disabled', true); 
    }
})

$("#teaching_location").change (function () {  
    var selected = $(this).children("option:selected").val(); 
    $('#form2Btn').prop('disabled', false); 
    if(selected !=''){
        var settings= {
            type: "GET",
            dataType: "json",
            url: "/api/user/getModuleWithLocation/"+selected,
            success: function(response) {
                if(response.length){
                    var optionStr = ''
                    response.forEach(function(item){
                        optionStr+= "<option value='"+item.module_code+"'>"+item.module_code +" - "+item.module_name+"</option>";
                       
                    })
                    $('#example-dropright').html(optionStr);
                }else{
                    $('#example-dropright').html('');
                    $('#form2Btn').prop('disabled', true);
                }
                var slected = $('#teaching_block_period').children("option:selected").val();
                if(slected == ''){
                    $('#form2Btn').prop('disabled', true);
                }else{
                    $('#form2Btn').prop('disabled', false);
                }
                $('#example-dropright').multiselect("destroy");
                $('#example-dropright').multiselect({buttonWidth: '471px'});
            },
            error: function (err, type, httpStatus) {
                alert('error has occured');
            }
        };

        $.ajax(settings);
    }
}); 

$("#teaching_location").change (function () {
    $('#course').html('<option>select course</option')
    $('#tableRender').html('')  
    var selected = $(this).children("option:selected").val(); 
    $('#form2Btn').prop('disabled', false); 
    if(selected !=''){
        var settings= {
            type: "GET",
            dataType: "json",
            url: "/api/user/getCourseWithLocation/"+selected,
            success: function(course) {
                var courseList = ''
                course.map(function(item){
                    courseList +="<option value='"+item.id+"'>"+item.course_name+"</option>" 
                })
                $('#course').append(courseList);
            },
            error: function (err, type, httpStatus) {
                alert('error has occured');
            }
        };

        $.ajax(settings);
    }
});

$("#course").change (function () {  
    var selected = $(this).val()
    var table = "<table style='width:100%'><tr><th class='select-table-col'>Selection </th><th>Type</th><th>Module Name</th></tr>";
    

    var settings= {
        type: "GET",
        dataType: "json",
        url: "/api/user/getModuleWithCourse/"+selected,
        success: function(modules) {

            modules.map(function(moduleData){
                if(moduleData.module_type == 'core' || moduleData.module_type == 'pinned'){
                    var isChecked = 'checked'
                    var disabled  = "onclick='return false'"
                }
                table +="<tr><td><input class='moduleCheckced' type='checkbox' name='module[]' value='"+moduleData.module_code+"' "+isChecked+" "+disabled+"></td><td>"+moduleData.module_type+"</td><td>"+moduleData.module_name+"</td></tr>"
                isChecked = ''
                disabled  = ''
                //courseList +="<option value='"+item.id+"'>"+item.course_name+"</option>" 
            })
            
            table += '</table>'
            $('#tableRender').html(table)
            //console.log(moduleData, "<< ")
            
        },
        error: function (err, type, httpStatus) {
            alert('error has occured');
        }
    };

    $.ajax(settings);

    tableEnd = table+"</table>";
    
});

$("#teaching_block_period").change (function () {
    var selected = $(this).children("option:selected").val();
    $('#form2Btn').prop('disabled', false); 
   
    if(selected == ''){
        $('#form2Btn').prop('disabled', true); 
    }
})
</script>
    

    </script>
    <script src="/bundle.min.js"></script>

</div>

</body>

</html>