<!-- BEGIN: Main Menu-->

<div class="main-menu material-menu menu-static menu-light menu-accordion menu-shadow"
data-scroll-to-active="true">
<div class="user-profile">
    <div class="user-info text-center pt-1 pb-1"><img class="user-img img-fluid rounded-circle"
            src="/images/logo/logo.png" alt="Dashboard Menu logo" />

        <div class="text-dark">Hello <br> <span style="font-size: 1.5rem">
                <%= user.name.givenName %>
                    <%= user.name.familyName %>
            </span></div>

    </div>
</div>
<div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

        <li class=" nav-item">
            <a href="/staff/dashboard" class="d-flex justify-content-start align-items-start waves-effect waves-dark">
                <i class=" material-icons mr-1">dashboard</i>
                <span class="menu-title" data-i18n="nav.support_raise_support.main">
                    Dashboard
                </span>
            </a>
        </li>        

        <!-- Module Manager links -->
                <li>
                    <li class=" navigation-header"><span data-i18n="nav.category.support">Module Manager</span><i class="material-icons nav-menu-icon" data-toggle="tooltip"
                        data-placement="right" data-original-title="Support">more_horiz</i>
                </li>
                <% supportMenu.modules.forEach(item=> {
                    if(!enabledisablevalue.module_date_enabled && item.label == 'Module Dates'
                    || !enabledisablevalue.module_courses_enabled && item.label == 'Courses'){ 
                        return;
                                    
                    }%>
                    <li class=" nav-item">
                        <a href="<%= item.url %>"
                            class="d-flex justify-content-start align-items-start">
                            <i class="material-icons mr-1">
                                <%= item.icon %>
                            </i>
                            <span class="menu-title" data-i18n="nav.support_raise_support.main">
                                <%= item.label %>
                            </span>
                        </a>
                    </li>

                    <% }) %>
                    
                <li>

                    <li class=" navigation-header"><span data-i18n="nav.category.support">Teaching Blocks</span><i class="material-icons nav-menu-icon" data-toggle="tooltip"
                        data-placement="right" data-original-title="Support">more_horiz</i>
                </li>
                <% supportMenu.blocks.forEach(item=> {
                    %>

                    <li class=" nav-item">
                        <a href="<%= item.url %>"
                            class="d-flex justify-content-start align-items-start">
                            <i class="material-icons mr-1">
                                <%= item.icon %>
                            </i>
                            <span class="menu-title" data-i18n="nav.support_raise_support.main">
                                <%= item.label %>
                            </span>
                        </a>
                    </li>

                    <% }) %>

                        <!-- Support Menu-->
        <li class=" navigation-header"><span data-i18n="nav.category.support">Support</span><i
            class="material-icons nav-menu-icon" data-toggle="tooltip" data-placement="right"
            data-original-title="Support">more_horiz</i>
    </li>
    <% supportMenu.main.forEach(item=> {
        %>

        <li class=" nav-item">
            <a href="<%= item.url %>" class="d-flex justify-content-start align-items-start">
                <i class="material-icons mr-1">
                    <%= item.icon %>
                </i>
                <span class="menu-title" data-i18n="nav.support_raise_support.main">
                    <%= item.label %>
                </span>
            </a>
        </li>

        <% }) %>
                  
                    
            <li class=" navigation-header"><span data-i18n="nav.category.support">Other
                        Links</span><i class="material-icons nav-menu-icon" data-toggle="tooltip"
                        data-placement="right" data-original-title="Support">more_horiz</i>
                </li>
                <% supportMenu.other.forEach(item=> {
                    %>

                    <li class=" nav-item">
                        <a href="<%= item.url %>"
                            class="d-flex justify-content-start align-items-start">
                            <i class="material-icons mr-1">
                                <%= item.icon %>
                            </i>
                            <span class="menu-title" data-i18n="nav.support_raise_support.main">
                                <%= item.label %>
                            </span>
                        </a>
                    </li>

                    <% }) %>
                   
    
</ul>
    

    <!-- Admin Pannel start  -->
    <% if(user.isAdmin){ %>
        <div class="main-menu material-menu menu-static menu-light menu-accordion menu-shadow mt-2  "
            data-scroll-to-active="true">
            <div class="user-profile">
                
                    <div class="text-dark"> </div>  </div>
            
            <ul class="navigation navigation-main" id="main-menu-navigation"
                data-menu="menu-navigation">
                <li class=" navigation-header"><span data-i18n="nav.category.support">Admin</span><i
                    class="material-icons nav-menu-icon" data-toggle="tooltip" data-placement="right"
                    data-original-title="Support">more_horiz</i>
            </li>
                <% supportMenu.admin.forEach(item=> {
                    %>
                    <li class=" nav-item">
                        <a href="<%= item.url %>"
                            class="d-flex justify-content-start align-items-start">
                            <i class="material-icons mr-1">
                                <%= item.icon %>
                            </i>
                            <span class="menu-title <%= item.style %>"
                                data-i18n="nav.support_raise_support.main  ">
                                <%= item.label %>
                            </span>
                        </a>
                    </li>
                    <% }) %>
                        <li>
            </ul>
        </div>
        <% } %>
            <!-- Admin Pannel end -->
            
            
</div>
</div>


<!-- END: Main Menu-->