<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Add Module - Education Host Ltd</title>

    <%- include('header'); -%>
    <style type="text/css">
    #saveModule{
       color: #fff;
     }
     #image{
        padding: 0;
        line-height: 27px;
        border: 0px;
        min-height: 33.5px;
     }
     .add-modules-cols {
        margin-bottom: 30px;
     }
     .add-modules-cols .card.pull-up {
        height: 100%;
        position: relative;
     }
     .add-modules-cols .card.pull-up .progress {
        position: absolute;
        bottom: 30px;
        left: 20px;
        right: 20px;
    }
    </style>

</head>
<!-- BEGIN: Body-->

<body class="vertical-layout vertical-content-menu material-vertical-layout material-layout 2-columns   fixed-navbar"
    data-open="click" data-menu="vertical-content-menu" data-col="2-columns" >
 <!-- BEGIN: Header-->
    <nav
        class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light navbar-hide-on-scroll navbar-border navbar-shadow navbar-brand-center">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a
                            class="nav-link nav-menu-main menu-toggle hidden-xs" href="#" aria-label="Menu icon"><i
                                class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item mobile-menu mr-auto" style="padding-top:20px;">
                        <h1 class="brand-text" style="width: 40rem;">Management Dashboard </h1>
                    </li>
                    <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
                            data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
                </ul>

            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle" href="#"><i
                                    class="ft-menu"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav float-right">

                        <li>
                            <a class="dropdown-item" href="/api/user/logout"><i
                                    class="material-icons">power_settings_new</i>
                                Logout</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->

    <!-- BEGIN: Content-->
    <div class="app-content content" role="main">
        <div class="content-header row">
        </div>
        <div class="content-wrapper" style="min-height: 1200px;">

            <!-- BEGIN: Main Menu-->

            <%- include('menu'); -%>

            <!-- END: Main Menu-->
            <div class="content-body ">


                
                <!-- Student account data start -->
                <section id="basic">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title font-weight-bold">Add Modules</h3>
                                                                        
                                </div>    
                                
                                
                                
                                <div class="card-content collapse show" >
                                    <div class="card-body card-dashboard ">

                                        <p>Add a new module below.</p>
                                        
                                                       <!-- Text alignment section start -->
 

                                    </div>
                                </div>     
                            </div>
                        </div>
                    </div>
                </section>
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-12">
                        <div class="card pull-up" data-toggle="modal" data-target="#addModalCenter">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="media d-flex">
                                        <div class="media-body text-left">
                                            <h2 class="info"> <i>Add Module</i></h2>
                                            <p>Click here to add a module into the system.</p>
                                        </div>
                                        <div>
                                            <i class="icon-plus activestudents font-large-2 float-right"></i>
                                        </div>
                                    </div>
                                    <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                        <div class="progress-bar bg-gradient-x-info" role="progressbar"
                                            style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                <!-- Student account data end -->
            </div>
            <section id="basic">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title font-weight-bold">Current Modules</h3>
                               
                               
                            </div>    
                            
                            
                            
                            <div class="card-content collapse show" >
                                <div class="card-body card-dashboard ">

                                    <p>A list of modules currently in the system.</p>
                                    
                                                   <!-- Text alignment section start -->


                                </div>
                            </div>     
                        </div>
                    </div>
                </div>
            </section>

            <div class="row">

                 <% allModulesList.forEach(item=> { 
                 %>
                <div class="col-xl-4 col-lg-6 col-12 add-modules-cols">
                    <div class="card pull-up">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">

                                        <h2 class="success"><i> <%= item.module_name %></i></h2>
                                        <p>Module code: <%= item.module_code %></p>
                                        <p>The module is taught at <%= item.location_count %> locations.</p>
                                        <p>There are <%= item.user_count %> students taking this module </p>
                                    </div>
                                    <div>
                                        <!-- <img src="data:image/png;base64, <%= item.image %>"> -->
                                        <i class="icon-folder success font-large-2 float-right"></i>
                                    </div>
                                </div>
                                <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                                    <div class="progress-bar bg-gradient-x-success" role="progressbar"
                                        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div> <!-- End row -->
            <!--/ eCommerce statistic -->          
            

        </div>
    </div>
    <!-- END: Content-->
 
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->

    <%- include('footer'); -%>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script> -->
    <div class="modal fade" id="addModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Add Module</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="p-1" id="addModuleForm">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Module Code</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="module_code" name="module_code" placeholder="Module Code" required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Module Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="module_name" name="module_name" placeholder="Module Name" required>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Module Type</label>
                <div class="col-sm-9">
                    <select class="form-control" name="module_type" 
                      id="module_type">
                          <option value="">Select type</option>
                          <option value="core">Core</option>
                          <option value="pinned">Pinned</option>
                          <option value="elective">Elective</option>
                        </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Module Image</label>
                <div class="col-sm-9 add-location-img-field">
                  <input type="file" class="form-control-file" id="image" name="image">
                </div>
              </div>
              <% if(settings.module_date_enabled){ %>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Number of Occurrences per year </label>
                <div class="col-sm-9 add-location-img-field">
                  <select class="form-control" name="number_of_occurance_per_year" 
                  id="number_of_occurance_per_year">
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                      <option value="4">Four</option>
                      <option value="0">NA</option>
                    </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Module due date </label>
                <div class="col-sm-8 add-location-img-field">
                 <input class="form-control-file" type="datetime-local" id="module_due_date" name="module_due_date[]">
                </div>
                <div class="col-sm-1">
                    <i class="fa fa-plus add_date" aria-hidden="true" id="add_date"></i>
                </div>
              </div>
              <div id="added_dates">
                  
              </div>
              <% } %>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Teaching location </label>
                <div class="col-sm-9 add-location-img-field">
                   <select class="form-control" name="teaching_location" id="teaching_location" multiple >
                        <option value="all">Select all locations</option>
                        <% teachingLocation.forEach(item=> { %>
                            <option value="<%= item.teaching_location_id %>"><%= item.name %></option>
                        <% }) %>
                    </select>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal">Close</button>
            <button type="button" class="btn btn-primary" id="saveModule">Save changes</button>
          </div>        
        </div>
      </div>
    </div>
    <script>
        window.onload = function(){  
        var now = new Date();
        now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
        document.getElementById('module_due_date').value = now.toISOString().slice(0,16);
        } 
        $('#saveModule').on('click',function(e){
            e.preventDefault();
            var isValid = $('#addModuleForm').valid();
            if(isValid){
                var formData = new FormData();
                var imagefile = document.querySelector('#image');
                if(imagefile.files.length){
                    formData.append("image", imagefile.files[0]);
                }
                var taskArray = [];
                $("input[name*='module_due_date']").each(function() {
                   taskArray.push($(this).val());
                });
                
                formData.append("module_due_date", JSON.stringify(taskArray));

                formData.append("module_code", $('#module_code').val());
                formData.append("module_name", $('#module_name').val());
                formData.append("module_type", $('#module_type').val());
                formData.append("number_of_occurance_per_year",
                    $('#number_of_occurance_per_year').val());
                formData.append("teaching_location_id", $('#teaching_location').val());
                //formData.append("due_date", $('#due_date').val());
                axios.post('/api/staff/createModule', formData,{ 
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(function (response) {
                  console.log(response)
                  if(response.data.status == "success"){
                     $('#addModuleForm')[0].reset();
                     swal("Success", response.data.message);
                     $('#addModalCenter').hide();
                     setTimeout(function(){
                        location.reload();
                     }, 3000);
                  }
                  else{
                     // swal(response.data.message);
                    swal("Something went wrong")

                  }
                })
                .catch(function (error ) {
                    console.log(error)
                    console.log('FAILURE!!');
                });

            }
        });
         $('.add_date').on('click',function(e){ 
            e.preventDefault();
            var newdate
            var occurance_val= $('#number_of_occurance_per_year').val();
            var old_date = $('#module_due_date').val();
            var arrDateObj = old_date.split("-");
               arrDateObj[0] = String(parseInt(arrDateObj[0])+1)
               newdate = arrDateObj.join("-");
                var dummy = `<div class="form-group row new_date">
                                <label class="col-sm-3 col-form-label">Module due date </label>
                                <div class="col-sm-8 add-location-img-field">
                                 <input class="form-control-file date-field" type="datetime-local" name="module_due_date[]" value="`+newdate+`">
                                </div>
                                <div class="col-sm-1">
                                    <i class="fa fa-minus remove_date" aria-hidden="true"></i>
                                </div>
                              </div>`;
                document.getElementById('added_dates').innerHTML+= dummy;
                
            $('.date-field').each(function(index, element){
                $(this).val(updateOneYear(old_date, index));
            })
            
         })

         $(document).on("click", '.remove_date', function() {
            $(this).parent().parent().remove();
          });
         
         $(document).on('change', '#number_of_occurance_per_year', function(){
            var occurance_val= $('#number_of_occurance_per_year').val();
            $('#added_dates').html('');
            var old_date = $('#module_due_date').val();

            for (let step = 1; step <occurance_val ; step++) {
                const newDate = addOneYear(old_date);
                var dummy = `<div class="form-group row new_date">
                    <label class="col-sm-3 col-form-label">Module due date </label>
                    <div class="col-sm-8 add-location-img-field">
                     <input class="form-control-file date-field" type="datetime-local" name="module_due_date[]" value="`+newDate+`">
                    </div>
                  </div>`;
                document.getElementById('added_dates').innerHTML+= dummy;
                old_date=newDate;
            }
            
         });
         function addOneYear(date) {
              var arrDateObj = date.split("-");
               arrDateObj[0] = String(parseInt(arrDateObj[0])+1)
               newdate = arrDateObj.join("-");
               return newdate
            }

        function updateOneYear(date, index) {
          var arrDateObj = date.split("-");
           arrDateObj[0] = String(parseInt(arrDateObj[0])+index+1)
           newdate = arrDateObj.join("-");
           return newdate
        }
        
        </script>
    
</body>
<!-- END: Body-->

</html>