
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    
    <title>Courses - Education Host Ltd</title>

<style type="text/css">
    .management-course-table td {
        padding: 10px 28px !important;
    }

</style>
    <%- include('header'); -%>


<!-- BEGIN: Body-->

<body class="vertical-layout vertical-content-menu material-vertical-layout material-layout 2-columns   fixed-navbar"
    data-open="click" data-menu="vertical-content-menu" data-col="2-columns">

    <!-- BEGIN: Header-->
    <nav
        class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-light navbar-hide-on-scroll navbar-border navbar-shadow navbar-brand-center">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a
                            class="nav-link nav-menu-main menu-toggle hidden-xs" href="#" aria-label="Menu icon"><i
                                class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item mobile-menu mr-auto" style="padding-top:20px;">
                        <h1 class="brand-text" style="width: 40rem;">Management Dashboard </h1>
                    </li>
                    <li class="nav-item d-md-none"><a class="nav-link open-navbar-container" data-toggle="collapse"
                            data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a></li>
                </ul>

            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle" href="#"><i
                                    class="ft-menu"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav float-right">

                        <li>
                            <a class="dropdown-item" href="/api/user/logout"><i
                                    class="material-icons">power_settings_new</i>
                                Logout</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->

    <!-- BEGIN: Content-->
    <div class="app-content content" role="main">
        <div class="content-header row">
        </div>
        <div class="content-wrapper" style="min-height: 1500px;">

            <!-- BEGIN: Main Menu-->

            <%- include('menu'); -%>

            <!-- END: Main Menu-->
            <div class="content-body ">

                <!-- Student account data start -->
                <section id="basic">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title font-weight-bold"><i class="ft-check-square"></i> Course Modules</h3>
                                    <a class="heading-elements-toggle">
                                        <i class="la la-ellipsis-v font-medium-3"></i></a>                                    
                                </div>                                
                                <div class="card-content collapse show" >
                                    <div class="card-body card-dashboard ">
                                        <p>The following table shows all modules assigned to courses.</p>
                                        <table class="table table-striped management-course-table">
                                            <thead>
                                              <tr>
                                                <th scope="col">Course name</th>
                                                <th scope="col">Modules assigned</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Course year</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                            <% courseList.map(function(course) { %>
                                              <tr style="border:1px solid red;">
                                                <td rowspan="<%= course.modules.length+1 %>" class="align-middle"><p class="text-center"><%= course.course_name %></p></td>                                               
                                              </tr>
                                            <% course.modules.map(function(module) { %>
                                              <tr>                                                
                                                <td><%= module.module_name %></td>
                                                <td><%= module.module_type %></td>
                                                <td><%= module.module_course_year %></td>
                                              </tr>
                                            <% }) %>

                                            <% }) %>
                                            </tbody>
                                          </table>                                          
                                    </div>
                                </div>     
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title font-weight-bold"><i class="ft-map"></i> Course Teaching Locations</h3>
                                    <a class="heading-elements-toggle">
                                        <i class="la la-ellipsis-v font-medium-3"></i></a>                                    
                                </div>                                
                                <div class="card-content collapse show" >
                                    <div class="card-body card-dashboard ">
                                        <table class="table table-striped management-course-table">
                                            <thead>
                                              <tr>
                                                <th scope="col">Course name</th>
                                                <th scope="col">Teaching Location</th>                                                
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td rowspan="5" class="align-middle"><p class="text-center">Course name</p></td>
                                                <td>Location 1</td>                                                                                     
                                              </tr>
                                              <tr>                                                
                                                <td>Location 2</td>                                                
                                              </tr>
                                              <tr>
                                                <td>Location 3</td>
                                              </tr>
                                              <tr>
                                                <td>Location 4</td>
                                              </tr>
                                              <tr>
                                                <td>Location 5</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                          <div class="col-md-12 mb-4" style="text-align: right;">

                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModalCenter">Add Course</button>
                                           </div>
                                    </div>
                                </div>     
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Student account data end -->
            </div>
        </div>
    </div>
    <!-- END: Content-->
 
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->

    <%- include('footer'); -%>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script> -->

    
</body>
<!-- END: Body-->

</html>